.success-color {
  color: #00a65a !important;
}

.warning-color {
  color: #f0ad4e;
}

.disabledOption {
  opacity: .50;
}

.enabled.fa-angle-double-right {
  color: #f0ad4e;
}

.fa-edit,
.fa-trash,
.fa-eye,
.disabledOption,
.disabledOption.fa-angle-double-right,
.enabled.fa-angle-double-right {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 4px 4px 5px;
}

.disabledOption:hover {
  opacity: unset;
  border: 1px solid #6a6c6f;
  color: #6a6c6f;
  cursor: pointer;
}

.fa-eye:hover {
  border: 1px solid rgb(110, 168, 255);
  color: rgb(110, 168, 255);;
  cursor: pointer;
}

.enabled.fa-angle-double-right:hover {
  border: 1px solid #f0ad4e;
  color: #f0ad4e;
  cursor: pointer;
}

.enabled.fa-edit:hover {
  border: 1px solid #64ABDE;
  color: #64ABDE;
  cursor: pointer;
}

.enabled.fa-trash:hover {
  border: 1px solid #DC3545;
  color: #DC3545;
  cursor: pointer;
}

.table thead tr th,
.table tbody tr td {
  text-align: center;
}

ul {
  float: right;
  li:hover {
    cursor: pointer;
  }
}

.pagination {
  margin: 0;
}

.box-footer {
  border: none;
}

.input-group {
  float: left !important;
  .form-control {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .input-group-addon {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 1px 5px 0 0;
    .fa-remove {
      color: #a6a6a6;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 4px 5px 4px 5px;
    }
    .fa-remove:hover {
      border: 1px solid #DC3545;
      color: #DC3545;
      cursor: pointer;
    }
  }
}

.my-btn {
  padding-top: 3px;
  background-color: transparent;
  .fa-refresh {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 7px 5px 6px 5px;
  }
  .fa-refresh:hover {
    border: 1px solid rgb(110, 168, 255);
    color: rgb(110, 168, 255);;
  }
}

.my-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-success {
  border-radius: 3px !important;
}
