.btn-success {
  margin-right: 5px;
}

.fa-trash {
  margin-top: 4px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 4px 4px 5px;
}

.no-active-trash {
  color: #bdbdbd;
}

.no-active-trash:hover {
  border: 1px solid #bdbdbd;
  cursor: pointer;
}

.active-trash {
  color: #333333;
}

.active-trash:hover {
  border: 1px solid #DC3545;
  color: #DC3545;
  cursor: pointer;
}

.font-weight {
  font-weight: 500;
}

.mar-top {
  margin-top: 30px;
}

.alert-success {
  margin-bottom: 0 !important;
  color: #3c763d !important;
  background-color: #d4edda !important;
}

.alert-warning {
  color: #000000 !important;
  background-color: #ffe9d5 !important;
  border: 1px solid #ffbf5a !important;
}

.alert-danger {
  color: #FFFFFF !important;
  background-color: #dd4b39 !important;
  border: 1px solid #dd4b39 !important;
}
