<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" style="padding: 0">
        <h3 style="display: inline;">
          {{mainLabel}}
        </h3>
      </div>
      <div style="cursor: pointer" class="col-md-4 pull-right text-right">
        <a [routerLink]="['/profile-institution']">
          <span class="fa fa-long-arrow-left"></span>
          Назад (без сохранения)
        </a>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-8" style="border-right: 1px solid #eee;">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4 form-group">
                            <label for="name">Название кинотеатра: <span style="color: #dd4b39;">*</span></label>
                            <input type="text" [(ngModel)]="model.name" id="name" class="form-control" placeholder="Введите название кинотеатра">
                          </div>
                          <div class="col-md-4 form-group">
                            <label for="region">Регион: <span style="color: #dd4b39;">*</span></label>
                            <ng-select [items]="regions" [searchable]="false" [disabled]="id" bindLabel="name" bindValue="_id"
                              [(ngModel)]="model.regionId" placeholder="Выберите название региона">
                            </ng-select>
                          </div>
                          <div class="col-md-4 form-group">
                            <label for="address">Полный адрес:</label>
                            <input type="text" [(ngModel)]="model.address" id="address" class="form-control"
                              placeholder="Введите полный адрес">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div *ngIf="id" class="col-md-4 form-group">
                            <label for="directorId">Руководитель:</label>
                            <ng-select [items]="directors" bindLabel="lastName" bindValue="_id" [searchable]="false" id="directorId"
                              [(ngModel)]="model.directorId" placeholder="Выберите руководителя">
                            </ng-select>
                          </div>
                          <div class="col-md-4 form-group">
                            <label for="dcpCode">ДСП номер: <span style="color: #dd4b39;">*</span></label>
                            <input type="text" id="dcpCode" class="form-control" [(ngModel)]="model.dcpCode"
                              placeholder="Введите дсп код">
                          </div>
                          <div class="col-md-4 form-group" style="vertical-align: middle">
                            <label class="mar-top mar-right">
                              <input id="cashRegister" [(ngModel)]="model.cashRegister" type="checkbox">
                              Кассовый аппарат
                            </label>
                            <label class="mar-top mar-right">
                              <input id="terminal" type="checkbox" [(ngModel)]="model.terminal">
                              Терминал
                            </label>
                            <label class="mar-top mar-right">
                              <input id="ticketLic" type="checkbox" [(ngModel)]="model.ticketLic">
                              Лицензия билетов
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 form-group">
                        <label for="equipment">Примечания по оборудованию кинотеатра:</label>
                        <textarea class="form-control" id="equipment" rows="3" [(ngModel)]="model.equipment"
                          placeholder="Перечислите характеристики оборудований, имеющихся в кинотеатре">
                        </textarea>
                      </div>
                      <div class="col-md-12 form-group">
                        <label for="security">Примечания по обеспечению безопасности материала кинопроката:</label>
                        <textarea class="form-control" id="security" rows="3" [(ngModel)]="model.security" placeholder="Перечислите характеристики оборудований, обеспечивающих безопасность материала кинопроката">
                          </textarea>
                      </div>
                      <div class="col-md-12 form-group">
                        <label for="outAdv">Примечания по внешней рекламе:</label>
                        <textarea class="form-control" id="outAdv" rows="3" [(ngModel)]="model.outAdv" placeholder="Перечислите характеристики внешней рекламы, доступной кинотеатру">
                          </textarea>
                      </div>
                      <div class="col-md-12 form-group">
                        <label for="inAdv">Примечания по по внутренней рекламе:</label>
                        <textarea class="form-control" id="inAdv" rows="3" [(ngModel)]="model.inAdv" placeholder="Перечислите характеристики внутренней рекламы, доступной кинотеатру">
                          </textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label class="pull-left">Режим работы: <span style="color: #dd4b39;">*</span></label>
                            <a *ngIf="!applyDayDetailMode" class="pull-right daysMode">Применена общая настройка</a>
                            <a *ngIf="applyDayDetailMode" class="pull-right daysMode">Применена детальная настройка</a>
                          </div>
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-5 time-label">
                                <label [ngClass]="{'disabled-label': dayDetailMode}">
                                  <input type="checkbox" [disabled]="dayDetailMode" [(ngModel)]="everyDay"
                                    [indeterminate]="isIndeterminated()" (change)="everyDayClick()">
                                  Каждый день
                                </label>
                              </div>
                              <div class="col-md-2 pull-right" style="padding: 0">
                                <input placeholder="До" [ngxTimepicker]="everydayEnd" [format]="24" class="form-control"
                                  [disabled]="dayDetailMode" [(ngModel)]="commonTimeEnd">
                                <ngx-material-timepicker #everydayEnd [minutesGap]="5"></ngx-material-timepicker>
                              </div>
                              <div class="col-md-1 pull-right time-label" style="margin-bottom: 0"><label>-</label>
                              </div>
                              <div class="col-md-2 pull-right" style="padding: 0">
                                <input placeholder="С" [ngxTimepicker]="everydayStart" [format]="24" class="form-control"
                                  [disabled]="dayDetailMode" [(ngModel)]="commonTimeStart">
                                <ngx-material-timepicker #everydayStart [minutesGap]="5"></ngx-material-timepicker>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 mar-top">
                            <div class="row">
                              <div *ngFor="let day of days" class="col-md-3">
                                <label [ngClass]="{'disabled-label': dayDetailMode}">
                                  <input type="checkbox" [(ngModel)]="day.checked" (change)="daysClick()" [disabled]="dayDetailMode">
                                  {{day.name}}
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <a class="local-refence pull-right" (click)="dayDetailMode = true; dayDetailPanel = true;">
                              Детальная настройка
                              <span [ngClass]="{'fa-angle-down': !dayDetailPanel, 'fa-angle-up': dayDetailPanel}" class="fa">
                              </span>
                            </a>
                          </div>
                          <div class="col-md-12 mar-top" *ngIf="dayDetailPanel">
                            <div class="panel panel-default">
                              <div class="panel-body" style="padding: 15px 0;">
                                <div class="col-md-12 form-group pull-right" *ngFor="let day of days" style="margin-bottom: 5px;">
                                  <div class="row">
                                    <div class="col-md-4 time-label">
                                      <label>
                                        <input type="checkbox" [(ngModel)]="day.checked" (change)="daysClick()">
                                        {{day.name}}
                                      </label>
                                    </div>
                                    <div class="col-md-3" style="padding: 0">
                                      <input placeholder="С" [ngxTimepicker]="start" [format]="24" class="form-control"
                                        [disabled]="!day.checked" [(ngModel)]="day.start">
                                      <ngx-material-timepicker #start [minutesGap]="5"></ngx-material-timepicker>
                                    </div>
                                    <div class="col-md-1 time-label" style="margin-bottom: 0"><label>-</label></div>
                                    <div class="col-md-3" style="padding: 0">
                                      <input placeholder="До" [ngxTimepicker]="end" [format]="24" [disabled]="!day.checked"
                                        [(ngModel)]="day.end" class="form-control">
                                      <ngx-material-timepicker #end [minutesGap]="5"></ngx-material-timepicker>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-12 mar-top">
                                  <a class="btn-link local-refence pull-left" style="margin-right: 10px" (click)="dayDetailMode = false; dayDetailPanel = false; applyDayDetailMode = false;">
                                    Сборос настроек
                                  </a>
                                  <a class="btn-link local-refence pull-right" (click)="dayDetailMode = true; dayDetailPanel = false; applyDayDetailMode = true;">
                                    Применить
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr *ngIf="!dayDetailPanel" style="margin: 0 10px 10px 10px">
                    <div class="row">
                      <div class="col-md-12">
                        <label class="pull-left">Список кинозалов:</label>
                        <a class="local-refence pull-right" (click)="addHole()">
                          Добавить кинозал
                        </a>
                      </div>
                      <div class="col-md-12">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Название зала</th>
                              <th>Кол-во мест</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let hole of holes; let i = index">
                              <td>{{i + 1}}</td>
                              <td><input type="text" class="form-control" placeholder="Название" [(ngModel)]="hole.name">
                              </td>
                              <td><input type="number" class="form-control" style="width: 100px" min="0" placeholder="Места"
                                  [(ngModel)]="hole.placeCount">
                              </td>
                              <td style="width: 5%" class="text-center">
                                <span popover="Удаление" triggers="mouseenter:mouseleave" class="fa fa-trash" (click)="deleteHole(i)">
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="pull-left">
                  <label><span style="color: #dd4b39">*</span> - помеченные поля обязательны к заполнению</label>
                </div>
                <div class="pull-right">
                  <button style="margin-right: 5px;" class="btn btn-success" type="button" [disabled]="!validation()"
                    (click)="submit()">
                    Сохранить
                  </button>
                  <button class="btn btn-danger" [routerLink]="['/profile-institution']" type="button">
                    Отмена
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
