<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5" style="padding: 0">
        <h3 style="display: inline;">
          {{mainLabel}}
        </h3>
      </div>
      <div style="cursor: pointer"  class="col-md-4 pull-right text-right">
        <a (click)="backToList()">
          <span class="fa fa-long-arrow-left"></span>
          К списку фильмов (без сохранения)
        </a>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body table-responsive">
          <div *ngIf="step == 0" class="container-fluid">
            <div class="row">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="col-md-12" style="padding: 0">
                  <div class="col-md-3 form-group">
                    <label for="name">Название фильма: <span style="color: #dd4b39;">*</span></label>
                    <input type="text"
                           id="name"
                           class="form-control"
                           placeholder="Введите название фильма"
                           formControlName="name">
                  </div>
                  <div class="col-md-3 form-group">
                    <label for="fullName">Оригинальное название: <span style="color: #dd4b39;">*</span></label>
                    <input type="tex"
                           class="form-control"
                           id="fullName"
                           placeholder="Введите оригинальное название"
                           formControlName="originalName">
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="country">Страна: <span style="color: #dd4b39;">*</span></label>
                    <input type="text"
                           class="form-control"
                           id="country"
                           placeholder="Введите страну"
                           formControlName="country">
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="yearMovie">Год: <span style="color: #dd4b39;">*</span></label>
                    <input id="yearMovie"
                           type="number"
                           class="form-control"
                           formControlName="yearMovie"
                           placeholder="Год">
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="studio">Студия: <span style="color: #dd4b39;">*</span></label>
                    <input type="text"
                           class="form-control"
                           id="studio"
                           placeholder="Введите студию"
                           formControlName="studio">
                  </div>
                </div>
                <div class="col-md-12" style="padding: 0">
                  <div class="col-md-3 form-group">
                    <label for="regNum">Рег. номер: <span style="color: #dd4b39;">*</span></label>
                    <input type="text"
                           class="form-control"
                           id="regNum"
                           placeholder="Рег. номер фильма"
                           formControlName="regNum">
                  </div>
                  <div class="col-md-3 form-group">
                    <label for="director">Режиссёр: <span style="color: #dd4b39;">*</span></label>
                    <input type="text"
                           class="form-control"
                           id="director"
                           placeholder="Введите Ф.И.О. режиссёра"
                           formControlName="director">
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="genre">Жанр: <span style="color: #dd4b39;">*</span></label>
                    <input type="text"
                           class="form-control"
                           id="genre"
                           placeholder="Введите жанр фильма"
                           formControlName="genre">
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="language">Язык: <span style="color: #dd4b39;">*</span></label>
                    <input type="text"
                           class="form-control"
                           id="language"
                           placeholder="Введите язык фильма"
                           formControlName="language">
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="premiereDate">Дата премьеры: <span style="color: #dd4b39;">*</span></label>
                    <input type="text"
                           id="premiereDate"
                           class="form-control"
                           placeholder="Укажите дату премьеры"
                           bsDatepicker
                           formControlName="premiereDate"
                           [bsConfig]="{dateInputFormat: 'DD.MM.YYYY'}">
                  </div>
                </div>
                <div class="col-md-12" style="padding: 0">
                  <div class="col-md-2">
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label for="recomAge">Возрастное ограничение: <span style="color: #dd4b39;">*</span></label>
                        <input id="recomAge"
                               type="number"
                               class="form-control"
                               min="1"
                               formControlName="recomAge"
                               placeholder="Возраст">
                      </div>
                      <div class="col-md-12 form-group">
                        <label for="formatVideo">Формат видео:</label>
                        <input type="text"
                               class="form-control"
                               id="formatVideo"
                               placeholder="Формат видео"
                               formControlName="formatVideo">
                      </div>
                      <div class="col-md-12 form-group">
                        <label for="formatAudio">Формат аудио:</label>
                        <input type="text"
                               class="form-control"
                               id="formatAudio"
                               placeholder="Формат аудио"
                               formControlName="formatAudio">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-md-10 form-group">
                        <label for="actor">Актёры:</label>
                        <textarea class="form-control"
                                  id="actor"
                                  rows="3"
                                  style="resize: none"
                                  formControlName="actor"
                                  placeholder="Перечислите исполнителей главных ролей и т.п.">
                        </textarea>
                      </div>
                      <div class="col-md-2 form-group">
                            <label for="actor">ГРПУ:</label>
                            <label for="actor"></label>
                            <div class="inputOpenFile">
                                <input type="file"
                                       (change)="onFileSelect($event)"
                                       class="dn"
                                       #filePDF
                                       required>
                                <button class="btn btn-success" type="button" (click)="triggerClick()">
                                  Загрузить файл
                                </button>
                              </div>
                          </div>
                      <div class="col-md-12 form-group">
                        <label for="comment">Краткое описание:</label>
                        <textarea class="form-control"
                                  id="comment"
                                  rows="4"
                                  style="resize: none"
                                  formControlName="comment"
                                  placeholder="Добавьте краткое описание сюжета фильма">
                        </textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="pull-left">
                    <label><span style="color: #dd4b39">*</span> - помеченные поля обязательны к заполнению</label>
                  </div>
                  <div class="pull-right">
                    <button style="margin-right: 5px;" class="btn btn-success" [disabled]="!form.valid" type="submit">
                      Сохранить
                    </button>
                    <button class="btn btn-danger" [routerLink]="['/movie']" type="button">
                      Отмена
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="step == 1" class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <label>Название фильма:</label>
                <p class="main-label">{{model.name}} </p>
              </div>
              <div class="col-md-3">
                <label>Оригинальное название:</label>
                <p class="main-label">{{model.originalName}}</p>
              </div>
              <div class="col-md-2">
                <label>Страна:</label>
                <p class="main-label">{{model.country}}</p>
              </div>
              <div class="col-md-1">
                <label>Год:</label>
                <p class="main-label">{{model.yearMovie}}</p>
              </div>
              <div class="col-md-3">
                <label>Студия:</label>
                <p class="main-label">{{model.studio}}</p>
              </div>
            </div>
            <hr style="margin: 5px 15px 15px 15px">
            <div class="row">
              <div class="col-md-3">
                <label>Режиссёр:</label>
                <p class="main-label">{{model.director}} </p>
              </div>
              <div class="col-md-3">
                <label>Жанр:</label>
                <p class="main-label">{{model.genre}}</p>
              </div>
              <div class="col-md-3">
                <label>Язык:</label>
                <p class="main-label">{{model.language}}</p>
              </div>
              <div class="col-md-3">
                <label>Дата премьеры:</label>
                <p class="main-label">{{model.premiereDate| date: 'dd.MM.yyyy'}}</p>
              </div>
            </div>
            <hr style="margin: 5px 15px 15px 15px">
            <div class="row">
              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-12">
                    <label>Возраст. ограничение:</label>
                    <p class="second-label">{{model.recomAge}}</p>
                  </div>
                  <div class="col-md-12">
                    <label>Формат видео:</label>
                    <p class="second-label">{{model.formatVideo}}</p>
                  </div>
                  <div class="col-md-12">
                    <label>Формат аудио:</label>
                    <p class="second-label">{{model.formatAudio}}</p>
                  </div>
                  <div class="col-md-12">
                    <label>Рег. номер:</label>
                    <p class="second-label">{{model.regNum}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-10" style="border-left: 1px solid #eee; min-height: 220px;">
                <div class="row">
                  <div class="col-md-12">
                    <label>Актёры:</label>
                    <p class="second-label">{{model.actor}}</p>
                  </div>
                  <div class="col-md-12">
                    <label>Краткое описание:</label>
                    <p class="second-label">{{model.comment}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div *ngIf="!model.formatVideo || !model.formatAudio || !model.actor || !model.comment" class="alert alert-danger" role="alert">
                  Вы не указали следующие необязательные параметры:
                  <ul style="padding-left: 20px">
                    <li *ngIf="!model.formatVideo">Формат видео</li>
                    <li *ngIf="!model.formatAudio">Формат аудио</li>
                    <li *ngIf="!model.actor">Список актёров</li>
                    <li *ngIf="!model.comment">Краткое описание сюжета фильма</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-12">
                <div class="pull-right">
                  <button style="margin-right: 5px;" class="btn btn-danger" (click)="backToForm()" type="button">
                    <span class="fa fa-long-arrow-left"></span> Вернуться
                  </button>
                  <button class="btn btn-success" (click)="save()" type="button">
                    Подтвердить <span class="fa fa-check"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
