<section class="content-header">
  <h1 style="display: inline;">
    Фильмы
  </h1>
  <button *ngIf="isCreate" [routerLink]="['new']" class="btn btn-success pull-right">
    <span class="fa fa-plus" style="margin-right: 5px"></span>
    Новый фильм
  </button>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body" style="padding: 0">
          <table class="table table-bordered table-hover" *ngIf="pagedItems.length != 0 else noMovies">
            <thead>
            <tr>
              <th>Название</th>
              <th>Режиссёр</th>
              <th>Страна</th>
              <th>Студия</th>
              <th class="text-center">Год</th>
              <th *ngIf="isEdit"></th>
              <th *ngIf="isDelete"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movie of pagedItems">
              <td>{{movie.name}}</td>
              <td>{{movie.director}}</td>
              <td>{{movie.country}}</td>
              <td>{{movie.studio}}</td>
              <td class="text-center">{{movie.yearMovie}}</td>
              <td style="width: 5%" class="text-center">
                <span popover="Подробнее" triggers="mouseenter:mouseleave" class="fa fa-eye"
                      [routerLink]="['detail', movie._id]"></span>
              </td>
              <td *ngIf="isEdit" style="width: 5%" class="text-center">
                <span popover="Редактировать" triggers="mouseenter:mouseleave" class="fa fa-edit"
                      [routerLink]="['edit', movie._id]"></span>
              </td>
              <td *ngIf="isDelete" style="width: 5%" class="text-center">
                <span popover="Удалить" triggers="mouseenter:mouseleave" class="fa fa-trash"
                      (click)='openModal(movie)'></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer" *ngIf="pagedItems.length != 0">
          <!-- pager -->
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">
                <i class="fa fa-angle-double-left"></i>
              </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">
                <i class="fa fa-angle-double-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div bsModal #canDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Удаления фильма</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
              <p>
                Внимание!!! Фильм <span style="font-weight: bold;">{{movieForDelete.name}}</span> в настоящее время
                не в прокате и не указан в актуальных договорах.
                Но при удалении фильма будут удалены <span
                style="font-weight: bold;">без возможности восстановления</span> все данные, имеющие какое-либо к
                данному фильму.
              </p>
            </div>
            <label>В частноcти будут удалены:</label>
            <ul style="float: none">
              <li>все договора по этому фильму</li>
              <li>все отчёты по этому фильму</li>
            </ul>
            <p>
              Если Вы действительно хотите удалить данный фильм, то введите слово <span
              style="font-style: italic; font-weight: bold">удалить</span> и нажмите на кнопку Удалить
            </p>
            <div class="col-md-4 form-group">
              <input type="text" class="form-control" placeholder="удалить" [(ngModel)]="checkWord">
            </div>
            <div class="pull-right">
              <button style="margin-right: 5px;" class="btn btn-danger" (click)="closeModal()" type="button">
                Отмена
              </button>
              <button class="btn btn-success" type="button" (click)="deleteMovie()" [disabled]="!checkWord">
                Удалить
              </button>
            </div>
            <br>
          </div>
          <div class="col-md-12">
            <div *ngIf="errorOnDelete" class="alert alert-danger text-center" role="alert">
              <p>
                Проверочное слово было введено неверно - попробуйте снова.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #canNotDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Ошибка</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success" role="alert">
              <p>
                Фильм <span style="font-weight: bold;">{{movieForDelete.name}}</span> в настоящее время
                находится в прокате и указан в актуальных договорах. По этой причине в данный момент Вы не можете
                удалить данный фильм.
                Дождитесь окончания сроков проката фильма
              </p>
            </div>
            <div class="pull-right" style="margin-top: 15px">
              <button class="btn btn-success" (click)="closeModal()" type="button">
                Понятно
              </button>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noMovies>
  <div style="width: 100%; height: 150px; padding-top: 70px;" class="text-center">
    <span>Пока ни одного фильма не добавлено;) Для того, чтобы добавить новый фильм нажмите кнопку
      <span style="font-weight: bold">Новый фильм</span> в правом верхнем углу</span>
  </div>
</ng-template>
