<div class="box">
  <div class="box-body" style="padding: 0">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th></th>
        <th>№ договора</th>
        <th>Фильм</th>
        <th>1-ая сторона</th>
        <th>2-ая сторона</th>
        <th>Условия</th>
        <th>Дата заключения</th>
        <th>Период проката</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contract of pagedItems">
        <td>
          <span *ngIf="status(contract) === 0"
                class="fa fa-play"
                popover="В силе"
                triggers="mouseenter:mouseleave"></span>
          <span *ngIf="status(contract) === 1"
                class="fa fa-stop"
                popover="Истёк"
                triggers="mouseenter:mouseleave"></span>
          <span *ngIf="status(contract) === 2"
                class="fa fa-clock-o fa-lg"
                popover="В ожидании"
                triggers="mouseenter:mouseleave"></span>
        </td>
        <td>{{contract.contNum}}</td>
        <td>{{contract.movieId|manual:movies}}</td>
        <td>{{contract.firstSide|manual:distributors}}</td>
        <td *ngIf="contract.typeOfCont != 2">{{contract.secondSide|manual:distributors}}</td>
        <td *ngIf="contract.typeOfCont == 2">{{contract.secondSide|manual:theaters}}</td>
        <td>
          <span *ngIf="contract.condPercent">{{contract.condition + '/' + 100 - contract.condition}}</span>
          <span *ngIf="!contract.condPercent">{{contract.condition + ' сум'}}</span>
        </td>
        <td>{{contract.contDate|date: 'dd.MM.yyyy'}}</td>
        <td>{{contract.fromDate|date: 'dd.MM.yyyy'}} - {{contract.toDate|date: 'dd.MM.yyyy'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer text-right">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">
          <i class="fa fa-angle-left"></i>
        </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">
          <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
