<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5" style="padding: 0">
        <h3 style="display: inline;">
          {{mainLabel}}
        </h3>
      </div>
      <div style="cursor: pointer" class="col-md-4 pull-right text-right">
        <a (click)="backToList()">
          <span class="fa fa-long-arrow-left"></span>
          К списку договоров (без сохранения)
        </a>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body">
          <div class="container-fluid">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="contNum">№ договора: <span style="color: #dd4b39;">*</span></label>
                      <input formControlName="contNum" type="text" id="contNum" class="form-control"
                             placeholder="Введите № договора">
                    </div>
                    <div class="col-md-6 form-group">
                      <label for="movieId" [ngClass]="{'disabled-label': form.controls['movieId'].disabled}">Фильм:
                        <span style="color: #dd4b39;">*</span></label>
                      <ng-select [items]="movies" [searchable]="false" formControlName="movieId" bindLabel="name"
                                 bindValue="_id" id="movieId" (clear)="onMovieClear()" (change)="changeMovie()"
                                 placeholder="Выберите фильм">
                      </ng-select>
                    </div>
                    <div class="col-md-6 form-group">
                      <label for="firstSide" [ngClass]="{'disabled-label': form.controls['firstSide'].disabled}">
                        Дистрибьютор (головной): <span style="color: #dd4b39;">*</span>
                      </label>
                      <ng-select [items]="firstSide" id="firstSide" [searchable]="false" bindLabel="name"
                                 bindValue="_id"
                                 formControlName="firstSide" placeholder="Выберите дистрибьютора">
                      </ng-select>
                    </div>
                    <div class="col-md-6 form-group">
                      <label for="secondSide" [ngClass]="{'disabled-label': form.controls['secondSide'].disabled}">
                        Дистрибьютор: <span style="color: #dd4b39;">*</span>
                      </label>
                      <ng-select [items]="secondSide" id="secondSide" [searchable]="false" formControlName="secondSide"
                                 bindLabel="name" bindValue="_id" placeholder="Выберите дистрибьютора">
                      </ng-select>
                    </div>
                    <div class="col-md-6">
                      <div class="my-panel panel panel-default">
                        <div class="panel-header">
                          <label class="panel-heading">Даты</label>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <label for="fromDate" [ngClass]="{'disabled-label': form.controls['fromDate'].disabled}">Начала проката: <span style="color: #dd4b39;">*</span></label>
                              <input type="text"
                                     id="fromDate"
                                     class="form-control"
                                     placeholder="Укажите дату начала проката"
                                     bsDatepicker
                                     formControlName="fromDate"
                                     [minDate]="form.controls['fromDate'].value"
                                     [maxDate]="form.controls['toDate'].value"
                                     [bsConfig]="{dateInputFormat: 'DD.MM.YYYY'}">
                            </div>
                            <div class="col-md-12 form-group">
                              <label for="toDate"
                                     [ngClass]="{'disabled-label': form.controls['toDate'].disabled}">Дата
                              окончания проката: <span style="color: #dd4b39;">*</span>
                              </label>
                              <input type="text"
                                     id="toDate"
                                     class="form-control"
                                     placeholder="Укажите дату окончания проката"
                                     bsDatepicker
                                     formControlName="toDate"
                                     [minDate]="form.controls['fromDate'].value"
                                     [maxDate]="form.controls['toDate'].value"
                                     [bsConfig]="{dateInputFormat: 'DD.MM.YYYY'}">
                            </div>
                            <div class="col-md-12">
                              <label for="contDate">Дата заключения: <span style="color: #dd4b39;">*</span></label>
                              <input type="text"
                                     id="contDate"
                                     class="form-control"
                                     placeholder="Укажите дату заключения"
                                     bsDatepicker
                                     formControlName="contDate"
                                     [bsConfig]="{dateInputFormat: 'DD.MM.YYYY'}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="my-panel panel panel-default">
                        <div class="panel-header">
                          <label class="panel-heading">Условия договора</label>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12 form-group" style="margin-bottom: 10px;">
                              <label for="tax">Налог:</label>
                              <input type="number"
                                     class="form-control"
                                     id="tax"
                                     formControlName="tax"
                                     placeholder="Укажите налога в процентах">
                            </div>
                            <div class="col-md-12">
                              <label style="cursor: pointer">
                                <input type="radio"
                                       name="contType"
                                       [value]="true"
                                       [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="contractMode">
                                Процент: <span style="color: #dd4b39;">*</span>
                              </label>
                            </div>
                            <div class="col-md-12">
                              <label style="cursor: pointer">
                                <input type="radio"
                                       name="contType"
                                       [value]="false"
                                       [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="contractMode">
                                Фикс. сумма <span style="color: #dd4b39;">*</span>
                              </label>
                            </div>
                            <div *ngIf="contractMode" class="col-md-12">
                              <div class="row">
                                <div class="form-group col-md-6" style="margin-bottom: 5px">
                                  <label style="font-weight: normal" for="condition">1-ая сторона</label>
                                  <input type="number"
                                         *ngIf="contractMode"
                                         class="form-control"
                                         id="condition"
                                         style="text-align: center"
                                         formControlName="condition"
                                         (keyup)="modelChanged($event)"
                                         placeholder="%">
                                </div>
                                <div class="form-group col-md-6" style="margin-bottom: 5px">
                                  <label style="font-weight: normal" for="condition2">2-ая сторона</label>
                                  <input type="number"
                                         *ngIf="contractMode"
                                         class="form-control"
                                         [disabled]="true"
                                         id="condition2"
                                         placeholder="%"
                                         style="text-align: center"
                                         [ngModelOptions]="{standalone: true}"
                                         [(ngModel)]="secondPercent">
                                </div>
                                <div class="col-md-12 text-center">
                                  <span
                                    style="font-size: 8pt; font-style: italic;">% 2-ой вычисляется автоматически</span>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="!contractMode" class="col-md-12">
                              <div class="row">
                                <div class="form-group col-md-12" style="margin-bottom: 5px">
                                  <label style="font-weight: normal">Доля одной из сторон</label>
                                  <input type="number"
                                         *ngIf="!contractMode"
                                         class="form-control"
                                         formControlName="condition"
                                         placeholder="Фикс. сумма">
                                </div>
                                <div class="col-md-12 text-center">
                                  <span style="font-size: 8pt; font-style: italic;">сумма указывается в сумах</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div *ngIf="noDist" class="alert alert-danger" role="alert">
                    По выбранному фильму у Вас уже имеются актуальные договора со всеми дочерними дистрибьюторами.
                    Попробуйте выбрать другой фильм.
                  </div>
                  <div *ngIf="noMovie" class="alert alert-danger" role="alert">
                    В настоящее время фильмы, доступные для нового договора, отсутствуют. Для уточнения свяжитесь с
                    вышестоящим учреждением.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right" style="padding-top: 5px;">
                  <div class="row">
                    <div class="pull-left">
                      <label><span style="color: #dd4b39">* </span> - помеченные поля обязательны к заполнению </label>
                    </div>
                    <button class="btn btn-success" type="submit" [disabled]="!form.valid">
                      Сохранить
                    </button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/cont-s']">
                      Отмена
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
