<section class="content-header">
  <h1 style="display: inline;">
    Регионы
  </h1>
  <button *ngIf="isCreate" (click)="openModal()" class="btn btn-success pull-right">
    <span class="fa fa-plus" style="margin-right: 5px"></span>
    Новый регион
  </button>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body" style="padding: 0;">
          <table class="table table-hover table-bordered" *ngIf="regionList.length != 0 else noRegions">
            <thead>
            <tr>
              <th>Название</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let region of regionList">
              <td style="width: 80%">{{region.name}}</td>
              <td *ngIf="isEdit"
                  style="width: 5%"
                  class="text-center">
                  <span class="fa fa-edit"
                        (click)="openModal(region)"
                        popover="Редактировать"
                        triggers="mouseenter:mouseleave"></span>
              </td>
              <td *ngIf="isDelete"
                  style="width: 5%"
                  class="text-center">
                  <span class="fa fa-trash"
                        (click)="openDeleteModal(region)"
                        popover="Удалить"
                        triggers="mouseenter:mouseleave">
                  </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div bsModal #canNotDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Ошибка</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success" role="alert">
              <p>
                <span style="font-weight: bold;">{{regionForDelete.name}}</span> указан в качестве региона для некоторых
                учреждений (дистрибьюторов/кинотеатров). По этой причине регион не может быть удалён. Для удаления Вам
                необходимо, в первую очередь, удалить все учреждения, относящиеся к данному региону.
              </p>
            </div>
            <div class="pull-right" style="margin-top: 15px">
              <button class="btn btn-success" (click)="closeModal()" type="button">
                Понятно
              </button>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">{{mainLabel}}</h3>
      </div>
      <div class="modal-body">
        <div class="box box-info">
          <div class="box-body">
            <h4>{{secondLabel}}</h4>
            <h4></h4>
            <div class="row">
              <form [formGroup]="form" (ngSubmit)="updateRegion()">
                <div class="col-md-4 text-right">
                  <input type="text" formControlName="name" class="form-control" placeholder="Название">
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-5">
                  <button style="margin-right: 5px;" class="btn btn-success" type="submit" [disabled]="!form.valid">
                    Сохранить
                  </button>
                  <button class="btn btn-danger" (click)="closeModal()">
                    Отмена
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noRegions>
  <div style="width: 100%; height: 150px; padding-top: 70px;" class="text-center">
    <span>Пока ни одного региона не добавлено;) Для того, чтобы добавить новый регион нажмите кнопку
      <span style="font-weight: bold">Новый регион</span> в правом верхнем углу</span>
  </div>
</ng-template>
