<div class="box">
  <div class="box-body" style="padding: 0">
    <table *ngIf="theaterList.length != 0; else notheater" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Кинотеатр</th>
        <th>Регион</th>
        <th>Руководитель</th>
        <th class="text-center">Кол-во залов</th>
        <th class="text-center">Всего мест</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let theater of pagedItems">
        <td>{{theater.name?theater.name:''}}</td>
        <td>{{(theater.regionId?theater.regionId:'') | manual: regions }}</td>
        <td>
          <span *ngIf="theater.directorId; else nodirector">{{theater.directorId?(theater.directorId|manual:users:'lastName'):''}}</span>
        </td>
        <td class="text-center">{{theater.holes.length}}</td>
        <td class="text-center">{{placeCount(theater)}}</td>
        <td style="width: 5%" class="text-center" [routerLink]="['detail', theater._id]">
          <span popover="Подробнее" triggers="mouseenter:mouseleave" class="fa fa-eye"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">
          <i class="fa fa-angle-left"></i>
        </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">
          <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<ng-template #nodirector>
  <span style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">Руководитель не указан;)</span>
</ng-template>

<ng-template #notheater>
  <span class="text-center" style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39; margin-top: 10px">Ни одного кинотеатра не указано;)</span>
</ng-template>
