<div class="box">
  <div class="box-body" style="padding: 0">
    <table *ngIf="theaterList.length != 0; else noTheater" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Кинотеатр</th>
        <th>Регион</th>
        <th>Руководитель</th>
        <th class="text-center">Кол-во залов</th>
        <th class="text-center">Всего мест</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let theater of pagedItems">
        <td>{{theater.name ? theater.name : ''}}</td>
        <td>{{(theater.regionId ? theater.regionId : '') | manual: regions }}</td>
        <td>
          <span
            *ngIf="theater.directorId; else nodirector">{{theater.directorId ? (theater.directorId|manual:users:'lastName') : ''}}</span>
        </td>
        <td class="text-center">{{theater.holes.length}}</td>
        <td class="text-center">{{placeCount(theater)}}</td>
        <td style="width: 5%" class="text-center">
          <span popover="Подробнее" triggers="mouseenter:mouseleave" class="fa fa-eye"
                [routerLink]="['detail', theater._id]"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer" *ngIf="theaterList.length != 0">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">
          <i class="fa fa-angle-left"></i>
        </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">
          <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<ng-template #nodirector>
  <span style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">Руководитель не указан;)</span>
</ng-template>

<ng-template #noTheater>
  <div style="width: 100%; height: 150px; padding-top: 70px;" class="text-center">
    <span>Пока ни одного кинотеатра не добавлено;) Для того, чтобы добавить новый кинотеатр нажмите кнопку
      <span style="font-weight: bold">Новый кинотеатр</span> в правом верхнем углу</span>
  </div>
</ng-template>
