<section class="content-header">
  <div class="row">
    <div class="col-md-2">
      <h3 style="display: inline;">
        Кинотеатры
      </h3>
    </div>
    <div class="col-md-2 col-md-offset-6">
      <ng-select *ngIf="roleType === 0"
                 [items]="modes"
                 bindLabel="name"
                 bindValue="value"
                 [clearable]="false"
                 [(ngModel)]="currentMode"
                 [searchable]="false">
      </ng-select>
    </div>
    <div *ngIf="isCreated"   class="col-md-2">
      <button [routerLink]="['new']" class="btn btn-success pull-right">
        <span class="fa fa-plus" style="margin-right: 5px"></span>
        Новый кинотеатр
      </button>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <app-theater-all *ngIf="currentMode === 0"></app-theater-all>
      <app-theater-child *ngIf="currentMode === 1"></app-theater-child>
    </div>
  </div>
</section>
