.content-header {
  border-bottom: 1px solid #eeeeee;
}

.content {
  background-color: #ffffff;
}

.box-header {
  padding: 10px 0;
}

#firstRow {
  .info-box {
    color: #FFFFFF !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(115, 186, 238, 0.4);
  }
  .main-text {
    font-size: 18px;
    display: block;
  }
  .second-text {
    font-size: 20px;
    display: block;
    font-weight: 600;
  }
}

#secondRow {
  .bg-yellow-opacity {
    border-top-color: #ffb300 !important;
  }
  .bg-blue-opacity {
    border-top-color: #29b6f6 !important;
  }
  .bg-teal-opacity {
    border-top-color: #26a69a !important;
  }

  label.info-box {
    input {
      display: none;
    }
    .info-box-icon {
      height: 50px;
      width: 50px;
      font-size: 25px;
      line-height: 52px;
      margin-right: 5px;
    }
    .info-box-text {
      padding-top: 5px;
      font-weight: 500;
    }
    small {
      font-weight: 500;
    }
    min-height: 50px !important;
    height: 50px !important;
    color: inherit;
    background-color: #eeeeee;
  }

  .bg-yellow,
  .bg-teal,
  .bg-light-blue,
  label.info-box:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2), 0 10px 15px -5px rgba(115, 186, 238, 0.4);
  }
}

#thirdRow, #fourthRow {
  .bg-yellow-opacity {
    border-top-color: #ffb300 !important;
  }
  .bg-blue-opacity {
    border-top-color: #29b6f6 !important;
  }
  .bg-teal-opacity {
    border-top-color: #26a69a !important;
  }

  label.info-box {
    input {
      display: none;
    }
    .info-box-icon {
      height: 50px;
      width: 50px;
      font-size: 25px;
      line-height: 52px;
      margin-right: 5px;
    }
    .info-box-text {
      padding-top: 5px;
      font-weight: 500;
    }
    small {
      font-weight: 500;
    }
    min-height: 50px !important;
    height: 50px !important;
    color: inherit;
    background-color: #eeeeee;
  }

  .bg-yellow,
  .bg-teal,
  .bg-light-blue,
  label.info-box:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2), 0 10px 15px -5px rgba(115, 186, 238, 0.4);
  }
}

#fifthRow {
  .severalMoviesChart {
    .box-body {
      padding-top: 0;
    }
    label.info-box {
      input {
        display: none;
      }
      .info-box-icon {
        height: 34px;
        width: 34px;
        font-size: 18px;
        line-height: 34px;
        margin-right: 5px;
      }
      .info-box-number {
        height: 100%;
        text-align: center;
        padding-top: 4px;
        background-color: rgba(0, 0, 0, 0.2);
      }
      small {
        font-weight: 500;
      }
      min-height: 34px !important;
      height: 34px !important;
      color: inherit;
      background-color: #eeeeee;
    }
    .bg-yellow,
    .bg-teal,
    label.info-box:hover {
      cursor: pointer;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2), 0 10px 15px -5px rgba(115, 186, 238, 0.4);
    }
    .bg-yellow-opacity {
      border-top-color: #ffb300 !important;
    }
    .bg-teal-opacity {
      border-top-color: #26a69a !important;
    }
  }

  .table tr th,
  .table tr td {
    text-align: center;
  }
}
.bg-green {
  background-color: #66bb6a !important; // 400
}
.bg-yellow {
  background-color: #ffb300 !important; // 500
}
.bg-light-blue {
  background-color: #29b6f6 !important; // 400
}
.bg-teal {
  background-color: #26a69a !important; // 500
}

.bg-yellow-opacity {
  background-color: rgba(255, 179, 0, 0.1);
}
.bg-blue-opacity {
  background-color: rgba(41, 182, 246, 0.1);
}
.bg-teal-opacity {
  background-color: rgba(38, 166, 154, 0.1);
}

.my-type-radio {
  input {
    display: none;
  }
  .info-box-icon {
    height: 50px;
    width: 50px;
    font-size: 25px;
    line-height: 52px;
    margin-right: 5px;
  }
  .info-box-text {
    padding-top: 5px;
    font-weight: 500;
  }
  small {
    font-weight: 500;
  }
  min-height: 50px !important;
  height: 50px !important;
  color: inherit;
  background-color: #eeeeee;
}

.my-type-ticket:hover,
.my-type-ticket-active {
  cursor: pointer;
  color: #FFFFFF !important;
  background-color: #ffb300 !important;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2), 0 15px 20px -5px rgba(115, 186, 238, 0.4);
}

.my-type-average:hover,
.my-type-average-active {
  cursor: pointer;
  color: #FFFFFF !important;
  background-color: #29b6f6 !important;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2), 0 15px 20px -5px rgba(115, 186, 238, 0.4);
}

.my-type-overall:hover,
.my-type-overall-active {
  cursor: pointer;
  color: #FFFFFF !important;
  background-color: #26a69a !important;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2), 0 15px 20px -5px rgba(115, 186, 238, 0.4);
}

.my-type-bg-yellow {
  background-color: rgba(255, 179, 0, 0.1);
  border-top-color: #ffb300 !important;
}

.my-type-bg-blue {
  background-color: rgba(41, 182, 246, 0.1);
  border-top-color: #29b6f6 !important;
}

.my-type-bg-teal {
  background-color: rgba(38, 166, 154, 0.1);
  border-top-color: #26a69a !important;
}

.chart-title {
  margin-left: 10px;
  cursor: pointer;
}

.chart-title:hover {
  text-decoration: underline;
}
