<section class="content-header">
  <h1 *ngIf="currentDist">
    {{currentDist.name}}
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title chart-title"
              (click)="tableThReportsIsOpen = !tableThReportsIsOpen"
              data-toggle="collapse" data-target="#tableThReportsBlock">Отчёты на сегодня
            ( {{statisticService.generateKeyByDate(currentDate)}} ) от кинотеатров</h3>
          <div class="box-tools pull-right">
            <button type="button" (click)="tableThReportsIsOpen = !tableThReportsIsOpen" class="btn btn-box-tool"
                    data-toggle="collapse" data-target="#tableThReportsBlock">
              <i class="fa fa-lg"
                 [ngClass]="{'fa-angle-double-up': !tableThReportsIsOpen,'fa-angle-double-down': tableThReportsIsOpen}"></i>
            </button>
          </div>
        </div>
        <div id="tableThReportsBlock" class="collapse in">
          <div class="box-body no-padding">
            <table class="table table-bordered table-hover table-condensed"
                   *ngIf="todayThReports.length != 0 else noThReports">
              <thead>
              <tr>
                <th></th>
                <th>Дата</th>
                <th>Кинотеатр</th>
                <th>Дистрибьютор</th>
                <th>Кол-во сеансов</th>
                <th>Кол-во билетов</th>
                <th>Общая сумма</th>
                <th>Фильм без договора</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let report of todayThReports">
                <td>
                  <span *ngIf="report.sent && report.confirm"
                        class="fa fa-check fa-lg"
                        popover="Подтверждено"
                        triggers="mouseenter:mouseleave"></span>
                  <span *ngIf="report.sent && !report.confirm"
                        class="fa fa-clock-o fa-lg"
                        popover="В ожидании"
                        triggers="mouseenter:mouseleave"></span>
                </td>
                <td>{{report.date|date: 'dd.MM.yyyy'}}</td>
                <td>{{report.theaterId| manual: theaters}}</td>
                <td>{{report.distId| manual: distributors}}</td>
                <td>{{report.sessionCount}}</td>
                <td>{{report.ticketCount}}</td>
                <td>{{report.sum}}</td>
                <td>
                  <span *ngIf="report.withoutCont; else noCont">Имеется</span>
                  <ng-template #noCont><span>Не имеется</span></ng-template>
                </td>
                <td style="width: 7%">
                    <span popover="Подробнее"
                          triggers="mouseenter:mouseleave"
                          (click)="detailRouter(report._id, 'theater')"
                          class="fa fa-eye">
                    </span>
                </td>
                <td style="width: 7%" *ngIf="!report.confirm">
                  <span *ngIf="isConfirm"
                        (click)="actionWithThReport(report._id, true)"
                        popover="Подтвердить"
                        triggers="mouseenter:mouseleave"
                        class="fa fa-check-square-o">
                  </span>
                </td>
                <td style="width: 7%"
                    colspan="2"
                    *ngIf="report.confirm">
                  <span>Подтверждено</span>
                </td>
                <td style="width: 7%"
                    *ngIf="!report.confirm">
                  <span *ngIf="isConfirm"
                        (click)="actionWithThReport(report._id, false)"
                        popover="Отменить"
                        triggers="mouseenter:mouseleave"
                        class="fa fa-ban">
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title chart-title"
              (click)="tableDistReportsIsOpen = !tableDistReportsIsOpen"
              data-toggle="collapse" data-target="#tableDistReportsBlock">Отчёты на сегодня
            ( {{statisticService.generateKeyByDate(currentDate)}} ) от дистрибьюторов</h3>
          <div class="box-tools pull-right">
            <button type="button" (click)="tableDistReportsIsOpen = !tableDistReportsIsOpen" class="btn btn-box-tool"
                    data-toggle="collapse" data-target="#tableDistReportsBlock">
              <i class="fa fa-lg"
                 [ngClass]="{'fa-angle-double-up': !tableDistReportsIsOpen,'fa-angle-double-down': tableDistReportsIsOpen}"></i>
            </button>
          </div>
        </div>
        <div id="tableDistReportsBlock" class="collapse in">
          <div class="box-body no-padding">
            <table class="table table-bordered table-hover table-condensed"
                   *ngIf="todayDistReports.length != 0 else noDistReports">
              <thead>
              <tr>
                <th></th>
                <th>Филиал</th>
                <th>Дата</th>
                <th>Кол-во фильмов</th>
                <th>Кол-во сеансов</th>
                <th>Кол-во билетов</th>
                <th>Общая сумма</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let report of todayDistReports">
                <td>
                  <span *ngIf="report.sent && report.confirm"
                        class="fa fa-check fa-lg"
                        popover="Подтверждено"
                        triggers="mouseenter:mouseleave"></span>
                  <span *ngIf="report.sent && !report.confirm"
                        class="fa fa-clock-o fa-lg"
                        popover="В ожидании"
                        triggers="mouseenter:mouseleave"></span>
                </td>
                <td>{{report.distId|manual: distributors}}</td>
                <td>{{report.date|date: 'dd.MM.yyyy'}}</td>
                <td>{{report.movies.length}}</td>
                <td>{{report.sessionCount}}</td>
                <td>{{report.ticketCount}}</td>
                <td>{{report.sum}}</td>
                <td style="width: 5%">
            <span popover="Подробнее"
                  (click)="detailRouter(report._id, 'dist')"
                  triggers="mouseenter:mouseleave"
                  class="fa fa-eye">
            </span>
                </td>
                <td style="width: 7%" *ngIf="!report.confirm">
            <span *ngIf="isConfirm"
                  (click)="actionWithDistReport(report._id, true)"
                  popover="Подтвердить"
                  triggers="mouseenter:mouseleave"
                  class="fa fa-check-square-o">
            </span>
                </td>
                <td style="width: 7%" *ngIf="report.confirm" colspan="2">
                  <span>Подтверждено</span>
                </td>
                <td style="width: 7%" *ngIf="!report.confirm">
            <span popover="Отменить"
                  (click)="actionWithDistReport(report._id, false)"
                  *ngIf="isConfirm"
                  triggers="mouseenter:mouseleave"
                  class="fa fa-ban">
            </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="secondRow">
      <div class="box box-info"
           [ngClass]="{'bg-yellow-opacity': singleMovieChModeIsTicket, 'bg-teal-opacity': !singleMovieChModeIsTicket}">
        <div class="box-header">
          <h3 data-toggle="collapse"
              data-target="#singleMovieChBlock"
              class="box-title chart-title"
              (click)="singleMovieChIsOpen = !singleMovieChIsOpen">Данные одного фильма</h3>
          <div class="box-tools pull-right">
            <button type="button"
                    (click)="singleMovieChIsOpen = !singleMovieChIsOpen"
                    class="btn btn-box-tool"
                    data-toggle="collapse"
                    data-target="#singleMovieChBlock">
              <i class="fa fa-lg"
                 [ngClass]="{'fa-angle-double-up': singleMovieChIsOpen, 'fa-angle-double-down': !singleMovieChIsOpen}"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body collapse in" id="singleMovieChBlock">
          <div class="row">
            <div class="col-md-1">
              <label style="margin-top: 15px; font-size: 16px">Фильм:</label>
            </div>
            <div class="col-md-2 no-pad-right">
              <ng-select [items]="movies"
                         bindLabel="name"
                         bindValue="_id"
                         [(ngModel)]="singleMovieChMovieId"
                         (ngModelChange)="changeMovie()"
                         placeholder="Выберите фильм"
                         style="margin-top: 10px"
                         [clearable]="false"
                         [searchable]="false">
              </ng-select>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3 no-pad-left">
              <label [ngClass]="{'bg-yellow': singleMovieChModeIsTicket}" class="info-box">
                <span class="info-box-icon"><i class="fa fa-ticket"></i></span>
                <span class="info-box-text">Всего продано</span>
                <span class="info-box-number">{{singleMovieChOverall.ticketCount}}<small> билетов</small></span>
                <input type="radio"
                       name="singleMovieRadio"
                       [value]="true"
                       [(ngModel)]="singleMovieChModeIsTicket"
                       (ngModelChange)="changeMovie()">
              </label>
            </div>
            <div class="col-md-3 no-pad-left">
              <label [ngClass]="{'bg-teal': !singleMovieChModeIsTicket}" class="info-box">
                <span class="info-box-icon"><i class="fa fa-calculator"></i></span>
                <span class="info-box-text">Общая сумма</span>
                <span class="info-box-number">{{singleMovieChOverall.sum}}<small> сум</small></span>
                <input type="radio"
                       name="singleMovieRadio"
                       [value]="false"
                       [(ngModel)]="singleMovieChModeIsTicket"
                       (ngModelChange)="changeMovie()">
              </label>
            </div>
            <div class="col-md-12">
              <div class="row" *ngIf="singleMovieChData.length != 0 else noData">
                <div class="col-md-6"><label style="margin-top: 15px;">Общая статистика (по всей республике):</label></div>
                <div class="col-md-6 no-pad-right"><label style="margin-top: 15px;">По регионам:</label></div>
                <div class="col-md-6 no-pad-left">
                  <ngx-charts-bar-vertical *ngIf="singleMovieChLoadData"
                                           [view]="[500, 400]"
                                           [scheme]="statisticService.colors"
                                           [results]="singleMovieChData"
                                           [gradient]="true"
                                           [xAxis]="true"
                                           [yAxis]="true"
                                           [showXAxisLabel]="true"
                                           [showYAxisLabel]="true"
                                           [xAxisLabel]="'Даты'"
                                           [yAxisLabel]="singleMovieChLabelY">
                  </ngx-charts-bar-vertical>
                </div>
                <div class="col-md-6 no-pad-left">
                  <ngx-charts-bar-vertical *ngIf="singleMovieChDistLoadData"
                                           [view]="[500, 400]"
                                           [scheme]="statisticService.colors"
                                           [results]="singleMovieChDistData"
                                           [gradient]="true"
                                           [xAxis]="true"
                                           [yAxis]="true"
                                           [showXAxisLabel]="true"
                                           [showYAxisLabel]="true"
                                           [xAxisLabel]="'Регионы'"
                                           [yAxisLabel]="singleMovieChLabelY">
                  </ngx-charts-bar-vertical>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
    </div>
    <div class="row" id="thirdRow">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title chart-title"
              (click)="tableMoviesIsOpen = !tableMoviesIsOpen"
              data-toggle="collapse" data-target="#tableMoviesBlock">Все фильмы</h3>
          <div class="box-tools pull-right">
            <button type="button" (click)="tableMoviesIsOpen = !tableMoviesIsOpen" class="btn btn-box-tool"
                    data-toggle="collapse" data-target="#tableMoviesBlock">
              <i class="fa fa-lg"
                 [ngClass]="{'fa-angle-double-up': !tableMoviesIsOpen,'fa-angle-double-down': tableMoviesIsOpen}"></i>
            </button>
          </div>
        </div>
        <div id="tableMoviesBlock" class="collapse in">
          <div class="box-body no-padding">
            <table class="table table-hover table-bordered table-dark-bordered">
              <thead>
              <tr>
                <th rowspan="3" class="text-center">Название фильма</th>
                <th colspan="4" class="text-center">Дневные сеансы</th>
                <th colspan="4" class="text-center">Вечерние сеансы</th>
                <th colspan="2" rowspan="2" class="text-center bg-accent">Всего</th>
              </tr>
              <tr>
                <th colspan="2" class="text-center">Детские билеты</th>
                <th colspan="2" class="text-center">Взрослые билеты</th>
                <th colspan="2" class="text-center">Детские билеты</th>
                <th colspan="2" class="text-center">Взрослые билеты</th>
              </tr>
              <tr>
                <th class="text-center">Кол-во</th>
                <th class="text-center">Сумма</th>
                <th class="text-center">Кол-во</th>
                <th class="text-center">Сумма</th>
                <th class="text-center">Кол-во</th>
                <th class="text-center">Сумма</th>
                <th class="text-center">Кол-во</th>
                <th class="text-center">Сумма</th>
                <th class="text-center bg-accent">Кол-во</th>
                <th class="text-center bg-accent">Сумма</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of pagedItems">
                <td class="text-center">{{item.label| manual: movies}}</td>
                <td class="text-center">{{item.daySession.childCount}}</td>
                <td class="text-center">{{item.daySession.childSum}}</td>
                <td class="text-center">{{item.daySession.adultCount}}</td>
                <td class="text-center">{{item.daySession.adultSum}}</td>
                <td class="text-center">{{item.eveningSession.childCount}}</td>
                <td class="text-center">{{item.eveningSession.childSum}}</td>
                <td class="text-center">{{item.eveningSession.adultCount}}</td>
                <td class="text-center">{{item.eveningSession.adultSum}}</td>
                <td
                  class="bg-accent text-center">{{item.daySession.childCount + item.daySession.adultCount + item.eveningSession.childCount + item.eveningSession.adultCount}}</td>
                <td
                  class="bg-accent text-center">{{item.daySession.childSum + item.daySession.adultSum + item.eveningSession.childSum + item.eveningSession.adultSum}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="box-footer">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1, pagedItems)">
                  <i class="fa fa-angle-double-left"></i>
                </a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1, pagedItems)">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page, pagedItems)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1, pagedItems)">
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages, pagedItems)">
                  <i class="fa fa-angle-double-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #noThReports>
  <div class="col-md-12 text-center" style="margin: 50px 0;">
    <p>На текущую дату от кинотеатров ни одного отчёта не принято</p>
  </div>
</ng-template>

<ng-template #noDistReports>
  <div class="col-md-12 text-center" style="margin: 50px 0;">
    <p>На текущую дату от дистрибьюторов ни одного отчёта не принято</p>
  </div>
</ng-template>

<ng-template #noData>
  <div class="col-md-12 text-center" style="margin: 50px 0;">
    <p>По указанному фильму ни одного отчёта не найдено. Пожалуйста, выберите другой фильм.</p>
  </div>
</ng-template>
