<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" style="padding: 0">
        <h3 style="display: inline;">
          Подробная информация
        </h3>
      </div>
      <div style="cursor: pointer"  class="col-md-4 pull-right text-right">
        <a [routerLink]="['/role']">
          <span class="fa fa-long-arrow-left"></span>
          К списку ролей
        </a>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 mar-bottom">
                <div class="row">
                  <div class="col-md-4">
                    <label>Родительская категория роли:</label>
                    <span
                      style="font-size: 24px; font-weight: 500; display: block">{{roleTypes[selectedRole].label}}</span>
                  </div>
                  <div class="col-md-4">
                    <label>Название роли:</label>
                    <span style="font-size: 24px; font-weight: 500; display: block">{{roleName}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let group of roleTypes[selectedRole].groups; let i = index"
                   class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading text-center">
                    <span style="font-size: 14px; font-weight: 400; display: block">{{shortName(group.label)}}</span>
                  </div>
                  <div class="confirm-panel panel-body">
                    <span *ngIf="!checkOnStepTwo(i)"
                          class="text-center"
                          style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">
                      Ни одного разрешения не отмечено;)
                    </span>
                    <span *ngIf="checkOnStepTwo(i)">
                      <span *ngFor="let item of group.permissions"
                            style="font-size: 14px; font-weight: 400; display: block; padding-left: 10px">
                        <span *ngIf="item.checked">
                          <span class="fa fa-dot-circle-o"></span> {{item.label}}
                        </span>
                        <br>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
