<!-- Content Header (Page header) -->
<section class="content-header">
  <h1 *ngIf="currentTheater">
    {{currentTheater.name}}
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row" id="firstRow" *ngIf="reportStatus != null">
      <div class="col-md-3 no-pad-left">
        <div [ngClass]="{'bg-red': reportStatus === 0, 'bg-green': reportStatus !== 0}" class="info-box">
          <span class="info-box-icon">
            <i *ngIf="reportStatus === 0" class="fa fa-calendar-times-o"></i>
            <i *ngIf="reportStatus === 1" class="fa fa-calendar"></i>
            <i *ngIf="reportStatus === 2 || reportStatus === 3" class="fa fa-calendar-check-o"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Сегодня</span>
            <span class="info-box-number" style="font-size: 15px;">{{statisticService.generateKeyByDate(currentDate)}}</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="">Отчёт:</span>
            <span *ngIf="reportStatus === 0" class="pull-right">Не подготовлен</span>
            <span *ngIf="reportStatus === 1" class="pull-right">Сохранён</span>
            <span *ngIf="reportStatus === 2" class="pull-right">Отправлен</span>
            <span *ngIf="reportStatus === 3" class="pull-right">Подтверждён</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 no-pad-left">
        <div [ngClass]="{'bg-red': reportStatus === 0, 'bg-yellow': reportStatus !== 0}" class="info-box">
          <span class="info-box-icon"><i class="fa fa-ticket"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Всего продано</span>
            <span *ngIf="reportStatus === 0" class="info-box-number"> --- билетов</span>
            <span *ngIf="reportStatus !== 0" class="info-box-number">{{todayReport.ticketCount}}
              билетов</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span *ngIf="reportStatus === 0">Данных пока нет;)</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 no-pad-left">
        <div [ngClass]="{'bg-red': reportStatus === 0, 'bg-teal': reportStatus !== 0}" class="info-box">
          <span class="info-box-icon"><i class="fa fa-calculator"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Общая сумма</span>
            <span *ngIf="reportStatus === 0" class="info-box-number"> --- сум</span>
            <span *ngIf="reportStatus !== 0" class="info-box-number">{{todayReport.sum}} сум</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span *ngIf="reportStatus === 0">Данных пока нет;)</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 no-padding">
        <div [ngClass]="{'bg-red': reportStatus === 0, 'bg-light-blue': reportStatus !== 0}" class="info-box">
          <span class="info-box-icon"><i class="fa fa-info-circle"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Действия</span>
            <a *ngIf="reportStatus !== 0" (click)="detailRouter(todayReport._id, 'theater')" class="info-box-redirect"><span class="fa fa-eye"></span> Подробнее</a>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <a class="info-box-redirect" [routerLink]="['/theater-report']"><span class="fa fa-file-o"></span> Перейти к отчётам</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="secondRow" *ngIf="singleMovieChMovieId != null">
      <div class="box box-info" [ngClass]="{'bg-yellow-opacity': singleMovieChIsTicket,
                             'bg-teal-opacity': !singleMovieChIsTicket}">
        <div class="box-header">
          <h3 class="box-title chart-title"
              (click)="singleMovieChIsOpen = !singleMovieChIsOpen"
              data-toggle="collapse" data-target="#singleMovieChBlock">Данные по одному фильму</h3>
          <div class="box-tools pull-right">
            <button type="button" (click)="singleMovieChIsOpen = !singleMovieChIsOpen" class="btn btn-box-tool"
                    data-toggle="collapse" data-target="#singleMovieChBlock">
              <i class="fa fa-lg" [ngClass]="{'fa-angle-double-up': singleMovieChIsOpen, 'fa-angle-double-down': !singleMovieChIsOpen}"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body collapse in" id="singleMovieChBlock">
          <div class="row">
            <div class="col-md-1">
              <label style="margin-top: 15px; font-size: 16px">Фильм:</label>
            </div>
            <div class="col-md-2 no-pad-right">
              <ng-select [items]="movies"
                         bindLabel="name"
                         bindValue="_id"
                         [clearable]="false"
                         [searchable]="false"
                         [(ngModel)]="singleMovieChMovieId"
                         (ngModelChange)="changeMovie()"
                         placeholder="Выберите фильм"
                         style="margin-top: 10px">
              </ng-select>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3 no-pad-left">
              <label [ngClass]="{'bg-yellow': singleMovieChIsTicket}" class="info-box">
                <span class="info-box-icon"><i class="fa fa-ticket"></i></span>
                <span class="info-box-text">Всего продано</span>
                <span class="info-box-number">{{singleMovieChOverall.ticketCount}}<small> билетов</small></span>
                <input type="radio"
                       name="singleMovieRadio"
                       [value]="true"
                       [(ngModel)]="singleMovieChIsTicket"
                       (ngModelChange)="changeMovie()">
              </label>
            </div>
            <div class="col-md-3 no-pad-left">
              <label [ngClass]="{'bg-teal': !singleMovieChIsTicket}" class="info-box">
                <span class="info-box-icon"><i class="fa fa-calculator"></i></span>
                <span class="info-box-text">Общая сумма</span>
                <span class="info-box-number">{{singleMovieChOverall.sum}}<small> сум</small></span>
                <input type="radio"
                       name="singleMovieRadio"
                       [value]="false"
                       [(ngModel)]="singleMovieChIsTicket"
                       (ngModelChange)="changeMovie()">
              </label>
            </div>
            <div class="col-md-12" *ngIf="singleMovieChMovieId; else noSelectedMovie">
              <div class="row">
                <div class="col-md-12">
                  <ngx-charts-bar-vertical *ngIf="singleMovieChMovieId"
                                           [view]="[900, 500]"
                                           [scheme]="statisticService.colors"
                                           [results]="singleMovieChData"
                                           [gradient]="true"
                                           [xAxis]="true"
                                           [yAxis]="true"
                                           [showXAxisLabel]="true"
                                           [showYAxisLabel]="true"
                                           [xAxisLabel]="'Даты'"
                                           [yAxisLabel]="singleMovieChLabelY">
                  </ngx-charts-bar-vertical>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
    </div>
    <div class="row" id="thirdRow">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title chart-title"
              (click)="tableMoviesIsOpen = !tableMoviesIsOpen"
              data-toggle="collapse" data-target="#tableMoviesBlock">Все фильмы</h3>
          <div class="box-tools pull-right">
            <button type="button" (click)="tableMoviesIsOpen = !tableMoviesIsOpen" class="btn btn-box-tool"
                    data-toggle="collapse" data-target="#tableMoviesBlock">
              <i class="fa fa-lg"
                 [ngClass]="{'fa-angle-double-up': !tableMoviesIsOpen,'fa-angle-double-down': tableMoviesIsOpen}"></i>
            </button>
          </div>
        </div>
        <div id="tableMoviesBlock" class="collapse in">
          <div class="box-body no-padding">
            <table class="table table-hover table-bordered table-dark-bordered">
              <thead>
              <tr>
                <th rowspan="3" class="text-center">Название фильма</th>
                <th colspan="4" class="text-center">Дневные сеансы</th>
                <th colspan="4" class="text-center">Вечерние сеансы</th>
                <th colspan="2" rowspan="2" class="text-center bg-accent">Всего</th>
              </tr>
              <tr>
                <th colspan="2" class="text-center">Детские билеты</th>
                <th colspan="2" class="text-center">Взрослые билеты</th>
                <th colspan="2" class="text-center">Детские билеты</th>
                <th colspan="2" class="text-center">Взрослые билеты</th>
              </tr>
              <tr>
                <th class="text-center">Кол-во</th>
                <th class="text-center">Сумма</th>
                <th class="text-center">Кол-во</th>
                <th class="text-center">Сумма</th>
                <th class="text-center">Кол-во</th>
                <th class="text-center">Сумма</th>
                <th class="text-center">Кол-во</th>
                <th class="text-center">Сумма</th>
                <th class="text-center bg-accent">Кол-во</th>
                <th class="text-center bg-accent">Сумма</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of pagedItems">
                <td class="text-center">{{item.label| manual: movies}}</td>
                <td class="text-center">{{item.daySession.childCount}}</td>
                <td class="text-center">{{item.daySession.childSum}}</td>
                <td class="text-center">{{item.daySession.adultCount}}</td>
                <td class="text-center">{{item.daySession.adultSum}}</td>
                <td class="text-center">{{item.eveningSession.childCount}}</td>
                <td class="text-center">{{item.eveningSession.childSum}}</td>
                <td class="text-center">{{item.eveningSession.adultCount}}</td>
                <td class="text-center">{{item.eveningSession.adultSum}}</td>
                <td
                  class="bg-accent text-center">{{item.daySession.childCount + item.daySession.adultCount + item.eveningSession.childCount + item.eveningSession.adultCount}}</td>
                <td
                  class="bg-accent text-center">{{item.daySession.childSum + item.daySession.adultSum + item.eveningSession.childSum + item.eveningSession.adultSum}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="box-footer">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1, pagedItems)">
                  <i class="fa fa-angle-double-left"></i>
                </a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1, pagedItems)">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page, pagedItems)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1, pagedItems)">
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages, pagedItems)">
                  <i class="fa fa-angle-double-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #noSelectedMovies>
  <div class="col-md-12 text-center text-muted" style="height: 400px; padding-top: 50px;">
    <h2>Выберите несколько фильмов из списка, чтобы отобразился график</h2>
  </div>
</ng-template>

<ng-template #noSelectedMovie>
  <div class="col-md-12 text-center text-muted" style="height: 400px; padding-top: 50px;">
    <h2>Выберите фильм из списка, чтобы отобразился график</h2>
  </div>
</ng-template>
