<section class="content-header">
  <div class="row">
    <div class="col-md-2">
      <h3 style="display: inline;">
        Статистика
      </h3>
    </div>
    <div class="col-md-1 pull-right">
      <button (click)="print();" class="btn btn-primary pull-right">
        Печать
      </button>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header no-padding">
          <div id="conStatistics" class="col-md-12 no-padding">
            <div class="panel panel-default">
              <div class="panel-header">
                <label class="panel-heading"
                       data-toggle="collapse"
                       data-target="#parametersPanel"
                       [ngClass]="{'underline': parametersPanelIsOpen}"
                       (click)="parametersPanelIsOpen = !parametersPanelIsOpen">Параметры фильтров</label>
                <div class="box-tools pull-right">
                  <button type="button"
                          class="btn btn-box-tool"
                          (click)="parametersPanelIsOpen = !parametersPanelIsOpen"
                          data-toggle="collapse"
                          data-target="#parametersPanel">
                    <i class="fa fa-lg"
                       [ngClass]="{'fa-angle-double-up': parametersPanelIsOpen, 'fa-angle-double-down': !parametersPanelIsOpen}"></i>
                  </button>
                </div>
              </div>
              <div class="panel-body collapse in" id="parametersPanel">
                <div class="row">
                  <div class="col-md-3 form-group no-pad-right">
                    <label style="margin-bottom:10px;" [ngClass]="{'disabled': selectedYear}">Фильм:</label>
                    <ng-select [items]="movies"
                               bindLabel="name"
                               bindValue="_id"
                               [searchable]="false"
                               [(ngModel)]="selectedMovie"
                               (ngModelChange)="changeMovie()"
                               [disabled]="selectedYear"
                               placeholder="Выберите фильм">
                    </ng-select>
                  </div>
                  <div class="col-md-2 form-group no-pad-right">
                    <label style="margin-bottom:10px; width: 100%" [ngClass]="{'disabled': selectedMovie}">
                      Год:
                    </label>
                    <ng-select [items]="yearList"
                               bindLabel="value"
                               bindValue="value"
                               [searchable]="false"
                               [(ngModel)]="selectedYear"
                               (ngModelChange)="changeYear()"
                               [disabled]="selectedMovie"
                               placeholder="Выберите год">
                    </ng-select>
                  </div>
                  <div class="col-md-2 form-group no-pad-right">
                    <label style="margin-bottom:10px;" [ngClass]="{'disabled': !selectedYear}">Месяц:</label>
                    <ng-select [items]="months"
                               bindLabel="name"
                               bindValue="value"
                               [searchable]="false"
                               [(ngModel)]="selectedMonth"
                               (ngModelChange)="changeMonth()"
                               [disabled]="!selectedYear"
                               placeholder="Выберите месяц">
                    </ng-select>
                  </div>
                  <div class="col-md-1 col-md-offset-2" style="padding-top: 30px">
                    <button class="btn btn-default pull-right">
                      Сбросить
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <p *ngIf="selectedMovie"><span class="fa fa-lg fa-exclamation-circle"></span> Чтобы указать период
                      отчётов (год - месяц) необходимо очистить поле выбора фильма</p>
                    <p *ngIf="selectedYear"><span class="fa fa-lg fa-exclamation-circle"></span> Чтобы указать фильм
                      необходимо очистить поле выбора года</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                </div>
              </div>
              <div class="col-md-12" #printSection id="print-section">
                <div>
                  <label class="text-center item-title"
                         style="margin-bottom:20px; margin-top:20px;">{{1}}</label>
                  <table class="table table-hover table-bordered table-dark-bordered">
                    <thead>
                    <tr>
                      <th rowspan="3" class="text-center">
                        <span *ngIf="!selectedMovie">Название фильма</span>
                        <span *ngIf="selectedMovie">Дата</span>
                      </th>
                      <th colspan="4" class="text-center">Дневные сеансы</th>
                      <th colspan="4" class="text-center">Вечерние сеансы</th>
                      <th colspan="2" rowspan="2" class="text-center bg-accent">Всего</th>
                    </tr>
                    <tr>
                      <th colspan="2" class="text-center">Детские билеты</th>
                      <th colspan="2" class="text-center">Взрослые билеты</th>
                      <th colspan="2" class="text-center">Детские билеты</th>
                      <th colspan="2" class="text-center">Взрослые билеты</th>
                    </tr>
                    <tr>
                      <th class="text-center">Кол-во</th>
                      <th class="text-center">Сумма</th>
                      <th class="text-center">Кол-во</th>
                      <th class="text-center">Сумма</th>
                      <th class="text-center">Кол-во</th>
                      <th class="text-center">Сумма</th>
                      <th class="text-center">Кол-во</th>
                      <th class="text-center">Сумма</th>
                      <th class="text-center bg-accent">Кол-во</th>
                      <th class="text-center bg-accent">Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of listOfMoviesByTheaterId">
                      <td class="text-center">{{item.label| manual: movies}}</td>
                      <td class="text-center">{{item.daySession.childCount}}</td>
                      <td class="text-center">{{item.daySession.childSum}}</td>
                      <td class="text-center">{{item.daySession.adultCount}}</td>
                      <td class="text-center">{{item.daySession.adultSum}}</td>
                      <td class="text-center">{{item.eveningSession.childCount}}</td>
                      <td class="text-center">{{item.eveningSession.childSum}}</td>
                      <td class="text-center">{{item.eveningSession.adultCount}}</td>
                      <td class="text-center">{{item.eveningSession.adultSum}}</td>
                      <td
                        class="bg-accent text-center">{{item.daySession.childCount + item.daySession.adultCount + item.eveningSession.childCount + item.eveningSession.adultCount}}</td>
                      <td
                        class="bg-accent text-center">{{item.daySession.childSum + item.daySession.adultSum + item.eveningSession.childSum + item.eveningSession.adultSum}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
