.disabled {
  opacity: .50;
}

#parametersHeader {
  .panel {
    border: none;
    border-bottom: 1px solid #dddddd;
    box-shadow: none;
    margin-bottom: 0;
    .btn-box-tool {
      margin: 10px 20px 0 0;
    }
    label.panel-heading{
      margin-bottom: 0;
      font-weight: normal;
      font-size: 18px;
    }
    label.panel-heading:hover{
      text-decoration: underline;
      cursor: pointer;
    }
    label.underline {
      text-decoration: underline;
    }
    .panel-body {
      padding: 0 15px;
    }
  }
}

@media print {
  .box-success {
    border-top: 0;
  }

  .table {
    margin-bottom: 0;
    border-collapse: separate;
    border: 0 solid #000000;
    border-spacing: 0;
    border-right: 1px solid #000000;
  }

  thead tr th,
  tbody tr td {
    padding: 4px;
    border-color: #000000 !important;
    border-left: 1px solid;
    border-bottom: 1px solid;
  }

  .item-title {
    margin-bottom: 10px !important;
  }
}
