.logo-image {
  width: 170px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  line-height: 60px;
  background-color: #FFFFFF !important;
}

.logo-image-mini{
    width: 35px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
