<form [formGroup]="userForm" (submit)="onSubmit()">
  <div class="col-md-6">
    <div class="form-group">
      <label for="last">Фамилия:<span style="color: #dd4b39;">*</span></label>
      <input formControlName="lastName"
             type="text"
             id="last"
             class="form-control"
             placeholder="Введите фамилию">
    </div>
    <div class="form-group">
      <label for="firstName">Имя:<span style="color: #dd4b39;">*</span></label>
      <input formControlName="firstName"
             type="text"
             class="form-control"
             id="firstName"
             placeholder="Введите имя">
    </div>
    <div class="form-group">
      <label for="middleName">Отчество:</label>
      <input formControlName="middleName"
             type="text"
             class="form-control"
             id="middleName"
             placeholder="Введите отчество">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="phone">Тел. номер:</label>
      <input formControlName="phone"
             type="text"
             id="phone"
             class="form-control"
             placeholder="Введите тел.номер">
    </div>
    <div class="form-group">
      <label for="email">E - mail:</label>
      <input formControlName="email"
             type="text"
             id="email"
             class="form-control"
             placeholder="Введите e-mail">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right" style="padding-top: 5px;">
      <div class="pull-left">
        <label><span style="color: #dd4b39">*</span> - помеченные поля обязательны к заполнению</label>
      </div>
      <button style="margin-right: 5px;"
              class="btn btn-success"
              type="submit"
              [disabled]="!userForm.valid">
        Сохранить
      </button>
      <button type="button" class="btn btn-danger" (click)="reset()">
        Сброс
      </button>
    </div>
  </div>
</form>
