<section class="content-header">
  <h1 style="display: inline;">
    Профиль
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <div class="box-body table-responsive">
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" [src]="userService.ImagePreview" alt="User profile picture">
            <h3 class="profile-username text-center">{{userService.user.lastName}} {{userService.user.firstName}}</h3>
            <p class="text-muted text-center" *ngIf="userService.role.typeOfRole === 0" >Сотрудник РЦК </p>
            <p class="text-muted text-center" *ngIf="userService.role.typeOfRole === 1" >Сотрудник Филиала </p>
            <p class="text-muted text-center" *ngIf="userService.role.typeOfRole === 2" >Сотрудник Кинотеатра </p>
            <p class="text-muted text-center" *ngIf="userService.role.typeOfRole === 3" >Гостевой профиль</p>
            <p class="text-muted text-center" *ngIf="userService.role.typeOfRole === 4" >Правообладатель фылма</p>
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Логин</b> <a class="pull-right">{{ userService.user.userName }}</a>
              </li>
              <li class="list-group-item">
                <b>Роль</b> <a class="pull-right">{{userService.role.name?userService.role.name:''}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="box">
        <div class="box-body">
          <ul style="margin-bottom: 10px;" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#profile">Личные данные</a></li>
            <li><a data-toggle="tab" href="#changeProfile" (click)="isEdit = true">Редактировать данные</a></li>
            <li><a data-toggle="tab" href="#avatar" (click)="isAvatar = true">Сменить аватар</a></li>
            <li><a data-toggle="tab" href="#password" (click)="isPwd = true">Изменить пароль</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <ul style="padding: 10px" class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Фамилия</b> <a class="pull-right">{{userService.user.lastName}}</a>
                </li>
                <li class="list-group-item">
                  <b>Имя</b> <a class="pull-right">{{userService.user.firstName}}</a>
                </li>
                <li class="list-group-item">
                  <b>Отчество</b> <a class="pull-right">{{userService.user.middleName?userService.user.middleName:''}}</a>
                </li>
                <li class="list-group-item">
                    <b>Тел. номер</b> <a class="pull-right">{{userService.user.middleName?userService.user.phone:''}}</a>
                  </li>
                  <li class="list-group-item">
                      <b>E - mail</b> <a class="pull-right">{{userService.user.middleName?userService.user.email:''}}</a>
                    </li>
              </ul>
            </div>
            <div class="tab-pane" id="changeProfile">
              <app-edit-profile *ngIf="isEdit"></app-edit-profile>
            </div>
            <div class="tab-pane" id="avatar">
              <app-edit-avatar *ngIf="isAvatar"></app-edit-avatar>
            </div>
            <div class="tab-pane" id="password">
              <app-edit-password *ngIf="isPwd"></app-edit-password>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
