<section class="content-header">
  <h1 style="display: inline;">
    Дистрибьюторы
  </h1>
  <button *ngIf="isCreate" [routerLink]="['new']" class="btn btn-success pull-right">
    <span class="fa fa-plus" style="margin-right: 5px"></span>
    Новый дистрибьютор
  </button>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body" style="padding: 0">
          <table class="table table-bordered table-hover" *ngIf="pagedItems.length != 0 else noDistributors">
            <thead>
            <tr>
              <th>Название</th>
              <th>Регион</th>
              <th>Руководитель</th>
              <th>Номер телефона</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dist of pagedItems">
              <td>{{dist.name}}</td>
              <td>{{dist.regionId | manual: regions}}</td>
              <td>
                <span *ngIf="dist.directorId; else nodirector">{{dist.directorId| manual: users:'lastName'}}</span>
              </td>
              <td>
                <span *ngIf="dist.phone; else nophone">{{dist.phone}}</span>
              </td>
              <td style="width: 5%" class="text-center" [routerLink]="['detail', dist._id]">
                <span popover="Подробнее" triggers="mouseenter:mouseleave" class="fa fa-eye"></span>
              </td>
              <td style="width: 5%"
                  class="text-center"
                  *ngIf="isEdit">
                <span popover="Редактировать" triggers="mouseenter:mouseleave" class="fa fa-edit"
                      [routerLink]="['edit', dist._id]"></span>
              </td>
              <td style="width: 5%" class="text-center" *ngIf="isDelete">
                <span popover="Удалить" triggers="mouseenter:mouseleave" class="fa fa-trash"
                      (click)='openModal(dist)'></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer" *ngIf="pagedItems.length != 0">
          <!-- pager -->
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">
                <i class="fa fa-angle-double-left"></i>
              </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">
                <i class="fa fa-angle-double-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #nodirector>
  <span style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">Руководитель не указан;)</span>
</ng-template>

<ng-template #nophone>
  <span style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">Телефон номер не указан;)</span>
</ng-template>

<div bsModal #canDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Удаления дистрибьютора</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
              <p>
                Внимание!!! Дистрибьютор <span style="font-weight: bold;">{{distForDelete.name}}</span> в настоящее
                время не участвует
                в актуальных договорах. Но при удалении дистрибьютора будут удалены <span
                style="font-weight: bold;">без возможности восстановления</span> все данные, имеющие какое-либо к
                данному филиалу.
              </p>
            </div>
            <label>В частноcти будут удалены:</label>
            <ul style="float: none">
              <li>все договора, заключенные с этим филиалом</li>
              <li>отчёты от данного филиала</li>
              <li>все сотрудники (пользователи) данного филиала</li>
              <li>все дочерние кинотеатры данного филиала</li>
              <li>все договора между данным филиалом и его дочерними кинотеатрами</li>
              <li>все отчёты от дочерних кинотеатров данного филиала</li>
              <li>все сотрудники (пользователи) всех дочерних кинотеатров данного филиала</li>
            </ul>
            <p>
              Если Вы действительно хотите удалить данный дистрибьютор, то введите слово <span
              style="font-style: italic; font-weight: bold">удалить</span> и нажмите на кнопку Удалить
            </p>
            <div class="col-md-4 form-group">
              <input type="text" class="form-control" placeholder="удалить" [(ngModel)]="checkWord">
            </div>
            <div class="pull-right">
              <button style="margin-right: 5px;" class="btn btn-danger" (click)="closeModal()" type="button">
                Отмена
              </button>
              <button class="btn btn-success" type="button" (click)="deleteDistributor()" [disabled]="!checkWord">
                Удалить
              </button>
            </div>
            <br>
          </div>
          <div class="col-md-12">
            <div *ngIf="errorOnDelete" class="alert alert-danger text-center" role="alert">
              <p>
                Проверочное слово было введено неверно - попробуйте снова.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #canNotDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Ошибка</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success" role="alert">
              <p>
                Дистрибьютор <span style="font-weight: bold;">{{distForDelete.name}}</span> в настоящее время
                участвует в актуальных договорах. По этой причине в данный момент Вы не можете удалить данный
                дистрибьютор.
                Дождитесь окончания сроков актуальных договоров.
              </p>
            </div>
            <div class="pull-right" style="margin-top: 15px">
              <button class="btn btn-success" (click)="closeModal()" type="button">
                Понятно
              </button>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noDistributors>
  <div style="width: 100%; height: 150px; padding-top: 70px;" class="text-center">
    <span>Пока ни одного дистрибьютора не добавлено;) Для того, чтобы добавить нового дистрибьютора нажмите кнопку
      <span style="font-weight: bold">Новый дистртибьютор</span> в правом верхнем углу</span>
  </div>
</ng-template>
