.fa-edit,
.fa-trash,
.fa-plus {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 4px 4px 5px;
}

.fa-edit:hover {
  border: 1px solid #64ABDE;
  color: #64ABDE;
  cursor: pointer;
}
.fa-plus:hover {
  border: 1px solid #64ABDE;
  color: rgb(94, 206, 122);
  cursor: pointer;
}

.fa-trash:hover {
  border: 1px solid #DC3545;
  color: #DC3545;
  cursor: pointer;
}

ul {
  float: right;
  li:hover {
    cursor: pointer;
  }
}

.pagination {
  margin: 0;
}

.box-footer {
  border: none;
}

.table thead tr th,
.table tbody tr td {
  text-align: center;
}

.fa-play {
  color: #00a65a
}

.fa-stop {
  color: #DC3545
}

.fa-clock-o {
  color: #64ABDE
}
