<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5" style="padding: 0">
        <h3 style="display: inline;">
          {{mainLabel}}
        </h3>
      </div>
      <div style="cursor: pointer"  class="col-md-4 pull-right text-right">
        <a (click)="backToList()">
          <span class="fa fa-long-arrow-left"></span>
          К списку пользователей (без сохранения)
        </a>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 form-group">
                <label for="last">Фамилия: <span style="color: #dd4b39;">*</span></label>
                <input type="text"
                       id="last"
                       class="form-control"
                       [(ngModel)]="model.lastName"
                       placeholder="Введите фамилию">
              </div>
              <div class="col-md-4 form-group">
                <label for="firstName">Имя: <span style="color: #dd4b39;">*</span></label>
                <input type="text"
                       class="form-control"
                       id="firstName"
                       [(ngModel)]="model.firstName"
                       placeholder="Введите имя">
              </div>
              <div class="col-md-4 form-group">
                <label for="middleName">Отчество:</label>
                <input type="text"
                       class="form-control"
                       id="middleName"
                       [(ngModel)]="model.middleName"
                       placeholder="Введите отчество">
              </div>
              <div class="col-md-4 form-group">
                <label for="login">Логин: <span style="color: #dd4b39;">*</span></label>
                <input type="text"
                       id="login"
                       [ngClass]="{'form-control-invalid': userNameError}"
                       class="form-control"
                       [(ngModel)]="model.userName"
                       placeholder="Введите логин">
              </div>
              <div class="col-md-4 form-group">
                <label for="phone">Тел. номер:</label>
                <input type="text"
                       class="form-control"
                       id="phone"
                       [(ngModel)]="model.phone"
                       placeholder="Введите тел. номера">
              </div>
              <div class="col-md-4 form-group">
                <label for="email">E - mail:</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       [(ngModel)]="model.email"
                       placeholder="Введите емаил адрес">
              </div>
              <div *ngIf="!model._id" class="col-md-4 form-group">
                <label for="password">Пароль: <span style="color: #dd4b39;">*</span></label>
                <input type="password"
                       [ngClass]="{'form-control-invalid': passError}"
                       class="form-control"
                       id="password"
                       [(ngModel)]="model.password"
                       placeholder="Введите пароль">
              </div>
              <div *ngIf="!model._id" class="col-md-4 form-group">
                <label for="confirmPassword">Повторите пароль: <span style="color: #dd4b39;">*</span></label>
                <input type="password"
                       [ngClass]="{'form-control-invalid': passError}"
                       class="form-control"
                       id="confirmPassword"
                       [(ngModel)]="confirmPassword"
                       placeholder="Введите пароль повторно">
              </div>
              <div class="col-md-4">
                <div *ngIf="passError || userNameError" class="alert alert-danger" role="alert">
                  <span *ngIf="passError">Введённые пароли не совпадают!</span>
                  <br *ngIf="userNameError && passError">
                  <span *ngIf="userNameError">Введённый логин уже существует!</span>
                  <br>
                  <span>Пожалуйста, введите повторно.</span>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <label>Выберите категорию пользователя относительно места работы: <span style="color: #dd4b39;">*</span></label>
                <div class="row">
                  <div class="form-group">
                    <div *ngIf="showDist" class="col-md-4">
                      <div [ngClass]="{'active-panel': userMode == 0}"
                           class="type-panel panel panel-default">
                        <div class="panel-heading">
                          <label>
                            <input type="radio"
                                   name="optionsRadios"
                                   [value]="0"
                                   (change)="changeUserMode()"
                                   [(ngModel)]="userMode">
                            Сотрудник филиала
                          </label>
                        </div>
                        <div *ngIf="userMode == 0" class="panel-body">
                          <div class="form-group">
                            <label for="login">Дистрибьютор: <span style="color: #dd4b39;">*</span></label>
                            <ng-select [items]="distributors"
                                       [searchable]="false"
                                       bindLabel="name"
                                       bindValue="_id"
                                       (change)="changeDist()"
                                       [(ngModel)]="model.distId"
                                       placeholder="Выберите дистрибьютора">
                            </ng-select>
                          </div>
                          <div class="form-group">
                            <label for="login" [ngClass]="{'disabled-label': disableDistRoles}">Роль: <span style="color: #dd4b39;">*</span></label>
                            <ng-select [items]="distRoles"
                                       [searchable]="false"
                                       bindLabel="name"
                                       bindValue="_id"
                                       [(ngModel)]="model.roleId"
                                       [disabled]="disableDistRoles"
                                       placeholder="Выберите роль">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="showTheater" class="col-md-4">
                      <div [ngClass]="{'active-panel': userMode == 1}"
                           class="type-panel panel panel-default">
                        <div class="panel-heading">
                          <label>
                            <input type="radio"
                                   name="optionsRadios"
                                   [value]="1"
                                   (change)="changeUserMode()"
                                   [(ngModel)]="userMode">
                            Сотрудник кинотеатра
                          </label>
                        </div>
                        <div *ngIf="userMode == 1" class="panel-body">
                          <div class="form-group">
                            <label for="login">Кинотеатр: <span style="color: #dd4b39;">*</span></label>
                            <ng-select [items]="theaters"
                                       [searchable]="false"
                                       bindLabel="name"
                                       bindValue="_id"
                                       [(ngModel)]="model.theaterId"
                                       placeholder="Выберите кинотеатр">
                            </ng-select>
                          </div>
                          <div class="form-group">
                            <label for="login">Роль: <span style="color: #dd4b39;">*</span></label>
                            <ng-select [items]="theaterRoles"
                                       [searchable]="false"
                                       bindLabel="name"
                                       bindValue="_id"
                                       [(ngModel)]="model.roleId"
                                       placeholder="Выберите роль">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="showGuest" class="col-md-4">
                      <div [ngClass]="{'active-panel': userMode == 2}"
                           class="type-panel panel panel-default">
                        <div class="panel-heading">
                          <label>
                            <input type="radio"
                                   name="optionsRadios"
                                   [value]="2"
                                   (change)="changeUserMode()"
                                   [(ngModel)]="userMode">
                            Гость
                          </label>
                        </div>
                        <div *ngIf="userMode == 2" class="panel-body">
                          <div class="form-group">
                            <label for="login">Роль: <span style="color: #dd4b39;">*</span></label>
                            <ng-select [items]="guestRoles"
                                       [searchable]="false"
                                       bindLabel="name"
                                       bindValue="_id"
                                       [(ngModel)]="model.roleId"
                                       placeholder="Выберите роль">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-right" style="padding-top: 5px;">
                <div class="row">
                  <div class="pull-left">
                    <label><span style="color: #dd4b39">* </span> - помеченные поля обязательны к заполнению</label>
                  </div>
                  <button class="btn btn-success"
                          [disabled]="!validation()"
                          (click)="submit()"
                          type="button">
                    Сохранить
                  </button>
                  <button type="button" class="btn btn-danger" [routerLink]="['/user']">
                    Отмена
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
