.time-label {
  padding-top: 5px;
}

.disabled-label {
  color: #a6a6a6;
}

.local-refence {
  cursor: pointer;
}

.panel-default {
  margin-bottom: 0;
}

.fa-trash {
  margin-top: 4px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 4px 4px 5px;
}

.fa-trash:hover {
  border: 1px solid #DC3545;
  color: #DC3545;
  cursor: pointer;
}

.table thead tr th {
  text-align: center;
}

.daysMode {
  color: #DC3545;
}

.padd-right {
  padding-right: 0;
}

.mar-top {
  margin-top: 5px;
}

.mar-right {
  margin-right: 10px;
}

textarea {
  resize: vertical;
}

.padd-top {
  padding-top: 20px;
}
