<section class="content-header">
    <h1 style="display: inline;">
        Роли пользователей
    </h1>
    <button *ngIf="isCreate"  [routerLink]="['new']" class="btn btn-success pull-right">
      <span class="fa fa-plus" style="margin-right: 5px"></span>
      Новая роль
    </button>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body" style="padding: 0;">
          <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <th>Название роли</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of roles">
              <td>{{role._id|manual:roles}}</td>
              <td style="width: 5%" class="text-center" [routerLink]="['detail', role._id]">
                <span popover="Подробнее" triggers="mouseenter:mouseleave" class="fa fa-eye"></span>
              </td>
              <td style="width: 5%" class="text-center" [routerLink]="['edit', role._id]">
                <span *ngIf="isEdit"
                      popover="Редактировать"
                      triggers="mouseenter:mouseleave"
                      class="fa fa-edit"></span>
              </td>
              <td style="width: 5%" class="text-center">
                <span *ngIf="isDelete"  popover="Удалить" triggers="mouseenter:mouseleave" class="fa fa-trash" (click)='openModal(role)'></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<div bsModal #canNotDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Ошибка</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success" role="alert">
              <p>
                Фильм <span style="font-weight: bold;">{{roleForDelete.name}}</span> в настоящее время
                находится в прокате и указан в актуальных договорах. По этой причине в данный момент Вы не можете удалить данный фильм.
                Дождитесь окончания сроков проката фильма
              </p>
            </div>
            <div class="pull-right" style="margin-top: 15px">
              <button class="btn btn-success" (click)="closeModal()" type="button">
                Понятно
              </button>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
