<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="password">Старый пароль: <span style="color: #dd4b39;">*</span></label>
        <input type="password"
               class="form-control"
               id="password"
               formControlName="password"
               placeholder="Введите свой старый пароль">
      </div>
      <div class="form-group">
        <label for="newPassword">Новый пароль: <span style="color: #dd4b39;">*</span></label>
        <input type="password"
               class="form-control"
               id="newPassword"
               formControlName="newPassword"
               placeholder="Введите новый пароль">
      </div>
      <div class="form-group">
        <label for="repeatPassword">Повторите новый пароль: <span style="color: #dd4b39;">*</span></label>
        <input type="password"
               class="form-control"
               id="repeatPassword"
               formControlName="repeatPassword"
               placeholder="Повторите новый пароль">
      </div>
    </div>
    <div class="col-md-6" style="padding-top: 25px;">
      <div *ngIf="passError" class="alert alert-danger" role="alert">
        <span *ngIf="newPassError">Новые пароли не совпадают!</span>
        <span *ngIf="oldPassError">Старый пароль введён не верно!</span>
        <br>
        <span>Пожалуйста, попробуйте снова.</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right" style="padding-top: 5px;">
      <div class="pull-left">
        <label><span style="color: #dd4b39">*</span> - помеченные поля обязательны к заполнению</label>
      </div>
      <button class="btn btn-success"
              type="submit"
              [disabled]="!userForm.valid">
        Сохранить
      </button>
    </div>
  </div>
</form>
