<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" style="padding: 0">
        <h3 style="display: inline;">
          Подробная информация
        </h3>
      </div>
      <button (click) = "openModal(model)" class="btn btn-success pull-right">
        <span class="fa fa-edit" style="margin-right: 5px"></span>
        Редактировать
      </button>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <h2>{{model.name}}</h2>
                  </div>
                  <div class="col-md-12">
                    <label>Местоположение:</label>
                    <p class="main-label">
                      {{region.name?region.name:''}}<span *ngIf="model.address">,
                        {{model.address?model.address:''}}</span>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <label>Головной дистрибьютор:</label>
                    <p *ngIf="model.parentId; else noparent" class="main-label">
                      {{parent.name?parent.name:''}}</p>
                    <ng-template #noparent>
                      <p class="second-label">Головной дистрибьютор не обозначен</p>
                    </ng-template>
                  </div>
                  <div class="col-md-12">
                    <label>Руководитель:</label>
                    <p *ngIf="model.directorId; else nodirector" class="second-label">{{model.directorId|manual: users:
                      'lastName'}}</p>
                  </div>
                  <div class="col-md-12">
                    <label>Контактная информация:</label>
                    <p class="second-label">
                      <span *ngIf="model.phone; else nophone">{{model.phone?model.phone:''}}</span>
                    </p>
                    <p class="second-label">
                      <span *ngIf="model.email; else noemail">{{model.email?model.email:''}}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-8" style="border-left: 1px solid #eee; min-height: 220px;">
                <div class="row">
                  <div class="col-md-12">
                    <label>Сотрудники:</label>
                    <table *ngIf="staff.length !== 0; else nostaff" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Ф. И. О.</th>
                          <th>Роль</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let staff of staff">
                          <td>{{staff.lastName}}</td>
                          <td>{{staff.roleId| manual: roles}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-12">
                    <label>Кинотеатры:</label>
                    <table *ngIf="theaters.length != 0; else notheater" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Кинотеатр</th>
                          <th>Руководитель</th>
                          <th>Кол-во залов</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let theater of theaters">
                          <td>{{theater.name}}</td>
                          <td>
                            <span *ngIf="theater.directorId; else nodirector">{{theater.directorId| manual:
                              users:'lastName'}}</span>
                            <ng-template #nodirector>
                              <span style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">
                                Руководитель не указан
                              </span>
                            </ng-template>
                          </td>
                          <td>{{theater.holes.length}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="editModel"  bsModal #editDist="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Редактирование данных дистрибьютора </h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6 form-group">
              <label for="name">Название учреждения:
                <span style="color: #dd4b39;">*</span></label>
              <input type="text" required class="form-control" placeholder="Введите название учреждения" [(ngModel)]="editModel.name">
            </div>
            <div class="col-md-6 form-group">
              <label for="address">Полный адрес:</label>
              <input type="text" required class="form-control" placeholder="Введите полный адрес учреждения"
                [(ngModel)]="editModel.address">
            </div>
            <div class="col-md-6 form-group">
              <label for="userName">Телефон номер:</label>
              <input type="text" required class="form-control" placeholder="Введите номер телефона учреждения"
                [(ngModel)]="editModel.phone">
            </div>
            <div class="col-md-6 form-group">
              <label for="email">E - mail:</label>
              <input type="text" required class="form-control" placeholder="Введите e-mail учреждения" [(ngModel)]="editModel.email">
            </div>
            <div class="col-md-6 form-group">
              <label for="directorId">Руководитель учреждения:</label>
              <ng-select [items]="users" id="directorId" [searchable]="false" bindLabel="lastName" bindValue="_id"
                placeholder="Выберите руководителя" [(ngModel)]="editModel.directorId">
              </ng-select>
            </div>
            <div class="row">
              <div class="col-md-12 text-right" style="padding-top: 5px;">
                <div class="pull-left">
                  <label><span style="color: #dd4b39">* </span> - помеченные поля обязательны к заполнению</label>
                </div>
                <button style="margin-right: 5px;"  class="btn btn-success" type="button" (click)="editDistributor()">
                  Сохранить
                </button>
                <button class="btn btn-danger" (click)="closeModal()" type="button">
                  Отмена
                </button>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #nodirector>
  <span style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">Руководитель не указан;)</span>
</ng-template>

<ng-template #nophone>
  <span style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">Телефон номер не указан;)</span>
</ng-template>

<ng-template #noemail>
  <span style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">Адрес эл.почты не указан;)</span>
</ng-template>

<ng-template #nostaff>
  <span class="text-center" style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">Ни одного
    сотрудника не указано;)</span>
</ng-template>

<ng-template #notheater>
  <span class="text-center" style="font-size: 14px; font-weight: 400; display: block; color: #dd4b39;">Ни одного
    кинотеатра не указано;)</span>
</ng-template>