<section class="content-header">
  <h1 style="display: inline;">
    Договора (RKM и Дистрибьютор)
  </h1>
  <button *ngIf="isCreate"  [routerLink]="['new']" class="btn btn-success pull-right">
    <span class="fa fa-plus" style="margin-right: 5px"></span>
    Новый договор
  </button>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body" style="padding: 0">
          <table class="table table-bordered table-hover" *ngIf="pagedItems.length != 0 else noContracts">
            <thead>
            <tr>
              <th></th>
              <th style="width: 130px">№ договора</th>
              <th>Фильм</th>
              <th>1-ая сторона</th>
              <th>2-ая сторона</th>
              <th>Условия</th>
              <th style="width: 130px">Дата заключения</th>
              <th style="width: 170px">Период проката</th>
              <th *ngIf="isEdit"></th>
              <th *ngIf="isEdit"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contract of pagedItems">
              <td>
                <span *ngIf="status(contract) === 0"
                      class="fa fa-play"
                      popover="В силе"
                      triggers="mouseenter:mouseleave"></span>
                <span *ngIf="status(contract) === 1"
                      class="fa fa-stop"
                      popover="Истёк"
                      triggers="mouseenter:mouseleave"></span>
                <span *ngIf="status(contract) === 2"
                      class="fa fa-clock-o fa-lg"
                      popover="В ожидании"
                      triggers="mouseenter:mouseleave"></span>
              </td>
              <td>{{contract.contNum}}</td>
              <td>{{contract.movieId|manual:movies}}</td>
              <td>{{contract.firstSide|manual:distributors}}</td>
              <td>{{contract.secondSide|manual:distributors}}</td>
              <td>
                <span *ngIf="contract.condPercent">{{contract.condition + '/' + 100 - contract.condition}}</span>
                <span *ngIf="!contract.condPercent">{{contract.condition + ' сум'}}</span>
              </td>
              <td>{{contract.contDate|date: 'dd.MM.yyyy'}}</td>
              <td>{{contract.fromDate|date: 'dd.MM.yyyy'}} - {{contract.toDate|date: 'dd.MM.yyyy'}}</td>
              <td *ngIf="isEdit" style="width: 5%" class="text-center" [routerLink]="['edit', contract._id]">
                <span popover="Редактировать" triggers="mouseenter:mouseleave" class="fa fa-edit"></span>
              </td>
              <td *ngIf="isEdit" style="width: 5%" class="text-center">
                <span *ngIf="isDelete"  popover="Удалить" triggers="mouseenter:mouseleave" class="fa fa-trash"
                      (click)='openModal(contract)'></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer text-right" *ngIf="pagedItems.length != 0">
          <!-- pager -->
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">
                <i class="fa fa-angle-double-left"></i>
              </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">
                <i class="fa fa-angle-double-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div bsModal #canDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Удаления фильма</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
              <p>
                Внимание!!! У договора № <span style="font-weight: bold;">{{contractForDelete.contNum}}</span> Истёк срок и в настоящее время он не актуален.
                Но при удалении договра будут удалены <span style="font-weight: bold;">без возможности восстановления</span>
                все данные, имеющие какое-либо к
                данному договору.
              </p>
            </div>
            <label>В частноcти будут удалены:</label>
            <ul style="float: none">
              <li>все отчёты, составленные на основе данного договра</li>
              <li>все договоры, составленные на основе данного договора</li>
            </ul>
            <p>
              Если Вы действительно хотите удалить данный договор, то введите слово <span
              style="font-style: italic; font-weight: bold">удалить</span> и нажмите на кнопку Удалить
            </p>
            <div class="col-md-4 form-group">
              <input type="text" class="form-control" placeholder="удалить" [(ngModel)]="checkWord">
            </div>
            <div class="pull-right">
              <button style="margin-right: 5px;" class="btn btn-danger" (click)="closeModal()" type="button">
                Отмена
              </button>
              <button class="btn btn-success" type="button" (click)="deleteContract()" [disabled]="!checkWord">
                Удалить
              </button>
            </div>
            <br>
          </div>
          <div class="col-md-12">
            <div *ngIf="errorOnDelete" class="alert alert-danger text-center" role="alert">
              <p>
                Проверочное слово было введено неверно - попробуйте снова.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #canNotDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Ошибка</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success" role="alert">
              <p>
                Договор № <span style="font-weight: bold;">{{contractForDelete.contNum}}</span> в настоящее время
                находится актуален. По этой причине в данный момент Вы не можете
                удалить данный договор.
                Дождитесь окончания сроков договора.
              </p>
            </div>
            <div class="pull-right" style="margin-top: 15px">
              <button class="btn btn-success" (click)="closeModal()" type="button">
                Понятно
              </button>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noContracts>
  <div style="width: 100%; height: 150px; padding-top: 70px;" class="text-center">
    <span>Пока ни одного договогора не добавлено;) Для того, чтобы добавить новый договогор нажмите кнопку
      <span style="font-weight: bold">Новый договогор</span> в правом верхнем углу</span>
  </div>
</ng-template>
