<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="box-body box-profile text-center">
    <img class="profile-user-img img-responsive img-circle"
         *ngIf="imagePreview" [src]="imagePreview"
         alt="User profile picture">
    <h6 class="profile-username text-center">Выберите новый аватар</h6>
    <div class="inputOpenImage">
      <input type="file"
             (change)="onFileSelect($event)"
             class="dn"
             #input
             id="srcImage"
             formControlName="srcImage"
             required
             [ngClass]="{'invalid': userForm.get('srcImage').invalid && userForm.get('srcImage').touched}">
      <button class="btn btn-success" type="button" (click)="triggerClick()">
        Загрузить изображение
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right" style="padding-top: 5px;">
      <button style="margin-right: 5px;" class="btn btn-success" type="submit" [disabled]="!userForm.valid">
        Сохранить
      </button>
      <button type="button" class="btn btn-danger" (click)="reset()">
        Сброс
      </button>
    </div>
  </div>
</form>
