<section class="content-header">
  <div class="row">
    <div class="col-md-2">
      <h3 style="display: inline;">
        Статистика
      </h3>
    </div>
    <div class="col-md-1 pull-right">
      <button (click)="print();" class="btn btn-primary pull-right">
        Печать
      </button>
    </div>
    <div class="col-md-3 col-md-offset-6">
      <div class="to-reports panel panel-default"
        [ngClass]="{'to-reports-active': notSentTheaterReport.length !== 0, 'to-reports-disabled': notSentTheaterReport.length === 0}">
        <div class="panel-body">
          <label class="pull-left">Неподтверждённые отчёты: {{notSentTheaterReport.length}} отч.</label>
          <div class="pull-right to-reports-btn to-reports-btn-active" *ngIf="notSentTheaterReport.length !== 0"
            [routerLink]="['report']">
            <span class="fa fa-angle-double-right fa-lg"></span>
          </div>
          <div class="pull-right to-reports-btn" *ngIf="notSentTheaterReport.length === 0">
            <span class="fa fa-angle-double-right fa-lg"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header no-padding">
          <div id="conStatistics" class="col-md-12 no-padding">
            <div class="panel panel-default">
              <div class="panel-header">
                <label class="panel-heading" data-toggle="collapse" data-target="#parametersPanel"
                  [ngClass]="{'underline': parametersPanelIsOpen}"
                  (click)="parametersPanelIsOpen = !parametersPanelIsOpen">Параметры фильтров</label>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool"
                    (click)="parametersPanelIsOpen = !parametersPanelIsOpen" data-toggle="collapse"
                    data-target="#parametersPanel">
                    <i class="fa fa-lg"
                      [ngClass]="{'fa-angle-double-up': parametersPanelIsOpen, 'fa-angle-double-down': !parametersPanelIsOpen}"></i>
                  </button>
                </div>
              </div>
              <div class="panel-body collapse in" id="parametersPanel">
                <div class="row">
                  <div class="col-md-2 form-group no-pad-right">
                    <label style="margin-bottom:10px;">Регион:</label>
                    <ng-select [items]="regions" bindLabel="name" bindValue="_id" [clearable]="false"
                      [searchable]="false" (change)="changeRegion()" placeholder="Виберите региона"
                      [(ngModel)]="selectedRegion">
                    </ng-select>
                  </div>
                  <div class="col-md-2 form-group no-pad-right">
                    <label style="margin-bottom:10px;" [ngClass]="{'disabled': !isTheater}">Кинотеатр:</label>
                    <ng-select [items]="filterTheatersOfRegion" bindLabel="name" [disabled]="!isTheater" bindValue="_id"
                      [clearable]="false" [searchable]="false" (change)="changeTheater()"
                      placeholder="Выберите Кинотеатра" [(ngModel)]="selectedTheater">
                    </ng-select>
                  </div>
                  <div class="col-md-3 form-group no-pad-right">
                    <label style="margin-bottom:10px;"
                      [ngClass]="{'disabled': selectedMonth != 12 || byMonth}">Фильм:</label>
                    <ng-select [items]="movies" bindLabel="name" [disabled]="selectedMonth != 12 || byMonth"
                      bindValue="_id" [clearable]="false" [searchable]="false" (change)="changeMovie()"
                      placeholder="Выберите фыльма" [(ngModel)]="selectedMovie">
                    </ng-select>
                  </div>
                  <div class="col-md-2 form-group no-pad-right">
                    <label style="margin-bottom:10px;" [ngClass]="{'disabled': !isMovie && !byMonth}">Год:</label>
                    <ng-select [items]="yearList" bindLabel="name" [disabled]="!isMovie && !byMonth" bindValue="value"
                      [clearable]="false" [searchable]="false" (change)="changeYear()" placeholder="Выберите год"
                      [(ngModel)]="selectedYear">
                    </ng-select>
                  </div>
                  <div class="col-md-2 form-group">
                    <label style="margin-bottom:10px;"
                      [ngClass]="{'disabled': isMovie && !isMonth || !isMovie && isMonth || !isMovie && !isMonth}">Месяц:</label>
                    <ng-select [items]="months" bindLabel="name"
                      [disabled]="isMovie && !isMonth || !isMovie && isMonth || !isMovie && !isMonth" bindValue="value"
                      [clearable]="false" [searchable]="false" (change)="changeMonth()" placeholder="Выберите месяц"
                      [(ngModel)]="selectedMonth">
                    </ng-select>
                  </div>
                  <div class="col-md-1" style="padding-top: 30px">
                    <button class="btn btn-default pull-right" (click)="refresh()">
                      Сбросить
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div *ngIf="!isTheater && !isOneTheater && this.isMovie" class="col-md-2 form-group">
                    <div [ngClass]="{'my-radio-active': selectedCond == 0}" class="my-radio panel panel-default">
                      <div class="panel-body text-center">
                        <label>
                          <input type="radio" (change)="changeSelectedCond()" name="optionsRadios" [value]="0"
                            [(ngModel)]="selectedCond">
                          По регионам
                        </label>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="isTheater && !isOneTheater && this.isMovie" class="col-md-2 form-group">
                    <div [ngClass]="{'my-radio-active': selectedCond == 2}" class="my-radio panel  panel-default">
                      <div class="panel-body text-center">
                        <label>
                          <input type="radio" (change)="changeSelectedCond()" name="optionsRadios" [value]="2"
                            [(ngModel)]="selectedCond">
                          По кинотеатрам
                        </label>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isOneTheater && isMovie" class="col-md-2 form-group">
                    <div [ngClass]="{'my-radio-active': selectedCond == 1}" class="my-radio panel  panel-default">
                      <div class="panel-body text-center">
                        <label>
                          <input type="radio" (change)="changeSelectedCond()" name="optionsRadios" [value]="1"
                            [(ngModel)]="selectedCond">
                          По фильмам
                        </label>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="isMovie && !isOneMonth && !isOneTheater && this.selectedYear != 0"
                    class="col-md-2 form-group pull-right">
                    <div class="my-checkbox panel  panel-default">
                      <div class="panel-body text-center" (click)="byMonth = !byMonth" (click)="ofMonth()">
                        <span class="fa fa-lg pull-left" style="margin: 5px 0 0 5px;"
                          [ngClass]="{'fa-check-square-o': byMonth, 'fa-square-o': !byMonth}"></span>
                        <label>
                          <input id="byMonth" [(ngModel)]="byMonth" type="checkbox">
                          По месяцам
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" #printSection id="print-section">
                <div class="row" id="printCond">
                  <div class="col-md-12 text-center">
                    <div class="row">
                      <span class="print-title">{{setPrintTitle()}}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <table class="table table-bordered title-table">
                        <tbody>
                          <tr>
                            <td class="title-td">Регион:</td>
                            <td class="content-td">
                              <span *ngIf="selectedRegion === 'all'">Все регионы</span>
                              <span *ngIf="selectedRegion !== 'all'">{{selectedRegion | manual: regions}}</span>
                            </td>
                          </tr>
                          <tr *ngIf="isTheater">
                            <td class="title-td">Кинотеатр:</td>
                            <td class="content-td">
                              <span *ngIf="selectedTheater === 'all'">Все кинотеатры региона
                                {{selectedRegion | manual: regions}}</span>
                              <span
                                *ngIf="selectedTheater !== 'all'">{{selectedTheater | manual: filterTheatersOfRegion}}</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="title-td">Фильм:</td>
                            <td class="content-td">
                              <span>{{selectedMovie | manual: movies}}</span>
                            </td>
                          </tr>
                          <tr *ngIf="selectedMovie !== 'all'">
                            <td class="title-td">Дата премьеры:</td>
                            <td class="content-td">
                              {{selectedMovie | manual: moviesForPrint:'premiereDate':'_id'|date:'dd.MM.yyyy'}} г.</td>
                          </tr>
                          <tr>
                            <td class="title-td">Период отчётов:</td>
                            <td class="content-td">с {{startDateOfReports}} г. - до {{endDateOfReports}} г.</td>
                          </tr>
                          <tr>
                            <td class="title-td">Подготовил:</td>
                            <td class="content-td">
                              {{currentUser.lastName + ' ' +
                            currentUser.firstName.substring(0, 1) + '. ' + currentUser.middleName.substring(0, 1) + '.'}}</td>
                          </tr>
                          <tr>
                            <td class="title-td">Дата подготовки:</td>
                            <td class="content-td">{{currentDate|date:'dd.MM.yyyy' + ' г.'}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div *ngFor="let item of reportsTotalOne">
                  <label class="item-title text-center " style="margin: 10px 0 20px 0;">{{item.name}}</label>
                  <table class="table table-hover table-bordered" id="my-table">
                    <thead>
                      <tr>
                        <th *ngIf="isOneTheater && !isMovie && isTheater">Дата</th>
                        <th *ngIf="selectedCond === 0 && !byMonth && !isTheater && isMovie">Название фильма</th>
                        <th *ngIf="selectedCond === 1 && !byMonth && !isTheater">Регион</th>
                        <th *ngIf="selectedCond === 1 && byMonth && !isTheater">Название фильма</th>
                        <th
                          *ngIf="selectedCond === 0 && byMonth && !isTheater || !isMovie && selectedCond === 0 && !byMonth && !isTheater">
                          Регион
                        </th>
                        <th *ngIf="selectedCond === 0 && isTheater">Название фильма</th>
                        <th *ngIf="selectedCond === 1 && !byMonth && isTheater">Название кинотеатра</th>
                        <th *ngIf="selectedCond === 1 && byMonth && isTheater">Название фильма</th>
                        <th *ngIf="selectedCond === 2 && !byMonth && isTheater && isMovie">Название фильма</th>
                        <th
                          *ngIf="selectedCond === 2 && byMonth && isTheater || !isMovie && selectedCond === 2 && !byMonth">
                          Название кинотеатра
                        </th>
                        <th>Средняя цена 1-го бил.</th>
                        <th>Всего продано бил.</th>
                        <th>Общая сумма (сум)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let theaterReport of item.report">
                        <td *ngIf="isOneTheater && !isMovie && isTheater">{{theaterReport.date|date:
                        'dd.MM.yyyy'}}
                        </td>
                        <td *ngIf="selectedCond === 0 && !byMonth && !isTheater && isMovie">{{theaterReport.movieId
                        |
                        manual: movies}}
                        </td>
                        <td *ngIf="selectedCond === 1 && !byMonth && !isTheater">{{theaterReport.regionId
                        |
                        manual: regions}}
                        </td>
                        <td *ngIf="selectedCond === 1 && byMonth && !isTheater">{{theaterReport.movieId
                        | manual:
                        movies}}
                        </td>
                        <td
                          *ngIf="selectedCond === 0 && byMonth && !isTheater || !isMovie && selectedCond === 0 && !byMonth && !isTheater">
                          {{theaterReport.regionId
                        |
                        manual: regions}}
                        </td>
                        <td *ngIf="selectedCond === 0 && isTheater">{{theaterReport.movieId | manual: movies}}</td>

                        <td *ngIf="selectedCond === 1 && !byMonth && isTheater">{{theaterReport.theaterId
                        | manual: theaters | manual: distributors}}
                        </td>
                        <td *ngIf="selectedCond === 1 && byMonth && isTheater">{{theaterReport.movieId
                        | manual:
                        movies}}
                        </td>
                        <td *ngIf="selectedCond === 2 && !byMonth && isTheater && isMovie">{{theaterReport.movieId
                        | manual:
                        movies}}
                        </td>
                        <td
                          *ngIf="selectedCond === 2 && byMonth && isTheater || !isMovie && selectedCond === 2 && !byMonth">
                          {{theaterReport.theaterId | manual: theaters | manual: distributors}}
                        </td>
                        <td>{{(theaterReport.amount/theaterReport.ticketCount)|number: '0.0'}}</td>
                        <td>{{theaterReport.ticketCount}}</td>
                        <td>{{theaterReport.amount}}</td>
                      </tr>
                      <tr class="over-all-tr">
                        <td *ngIf="isOneTheater && isMovie === false && isTheater" colspan="3">Всего:</td>
                        <td *ngIf="isOneTheater === false || isMovie" colspan="2">Всего:</td>
                        <td>{{item.totalTicketCount}}</td>
                        <td>{{item.totalAmount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="alert alert-info" style="margin-bottom:20px; margin-top:20px;" role="alert">
                  <div class="row">
                    <div class="col-md-3 col-md-offset-6">
                      <label>
                        <span style="font-weight: normal;">Всего продано: </span>{{totalTicketCount}} бил.
                      </label>
                    </div>
                    <div class="col-md-3">
                      <label>
                        <span style="font-weight: normal;">Общая сумма: </span>{{totalAmount}} сум.
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>