<div class="login-box">
    <div class="login-logo">
      <img src="/assets/img/main_logo.png" class="logo" /><b></b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Войдите, чтобы начать сеанс</p>
      <validation-summary [messages]="messages"></validation-summary>
      <form (submit)="login()">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Логин" name="userName" [(ngModel)]="model.userName">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Пароль" name="password" [(ngModel)]="model.password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <!-- <div class="col-xs-8">
            <div class="checkbox icheck">
              <label class="">
                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input
                    type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins
                    class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Remember Me
              </label>
            </div>
          </div> -->
          <!-- /.col -->
          <div class="col-xs-offset-6 col-xs-6">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Войти в систему</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
  
      <!-- <a href="#">I forgot my password</a><br>
      <a href="register.html" class="text-center">Register a new membership</a> -->
  
    </div>
    <!-- /.login-box-body -->
  </div>