.table thead tr th,
.table tbody tr td {
  text-align: center;
}

.my-radio {
  input {
    display: none;
  }
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
  background-color: transparent;
}

.my-radio-select {
  background-color: #e1f5fe;
  border: 1px solid #03a9f4 !important;
}

.over-all-tr {
  font-weight: bolder;
  background-color: #e1f5fe;
  td {
    border-bottom: 1px solid #03a9f4 !important;
  }
}

.my-panel {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(176, 210, 238, 0.4);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}
