<div class="box">
  <div class="box-body" style="padding: 0">
    <table class="table table-hover table-bordered" *ngIf="pagedItems.length > 1 else noUsers">
      <thead>
      <tr>
        <th sortable-column="FullName">
          Ф. И. О.
        </th>
        <th sortable-column="userName">Логин</th>
        <th sortable-column="regionName">Статус</th>
        <th sortable-column="roleName">Роль</th>
        <th sortable-column="email">E - mail</th>
        <th sortable-column="phone">Тел. номер</th>
        <th *ngIf="isEdit === true"></th>
        <th *ngIf="isEditPass === true"></th>
        <th *ngIf="isDelete === true" ></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of pagedItems">
        <td>{{user.lastName}} {{user.firstName?user.firstName.substring(0,1):''}}. {{user.middleName?user.middleName.substring(0, 1):''}}.</td>
        <td>{{user.userName}}</td>
        <td>Гость</td>
        <td>{{(user.roleId?user.roleId:'Правообладатель фылма')|manual:roles}}</td>
        <td>{{user.email?user.email:''}}</td>
        <td>{{user.phone?user.phone:''}}</td>
        <td *ngIf="user._id !== currentUser._id && isEdit === true" style="width: 5%" class="text-center" [routerLink]="['edit', user._id]">
          <span popover="Редактировать" triggers="mouseenter:mouseleave" class="fa fa-edit"></span>
        </td>
        <td *ngIf="user._id !== currentUser._id  && isEditPass === true" style="width: 5%" class="text-center" (click)="resetPassword(user)">
          <span popover="Сбросить пароля" triggers="mouseenter:mouseleave" class="fa fa-key"></span>
        </td>
        <td *ngIf="user._id !== currentUser._id && isDelete === true" style="width: 5%" class="text-center" (click)="deleteUser(user)">
          <span popover="Удалить" triggers="mouseenter:mouseleave" class="fa fa-trash"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer" *ngIf="pagedItems.length > 1">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">
          <i class="fa fa-angle-left"></i>
        </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">
          <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div bsModal #resetPassModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Установка нового пароля пользователя</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <form [formGroup]="form" (ngSubmit)="updateUserPass()">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" [ngClass]="{'form-control-invalid': passError}" class="form-control" id="password"
                       formControlName="password" placeholder="Введите пароль">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="confirmPassword">Повторите пароль:</label>
                <input type="password" [ngClass]="{'form-control-invalid': passError}" class="form-control" id="confirmPassword"
                       formControlName="confirmPassword" placeholder="Введите пароль повторно">
              </div>
            </div>
            <div class="col-md-12">
              <div *ngIf="passError" class="alert alert-danger" role="alert">
                <span>Введённые пароли не совпадают! Пожалуйста, введите пароли снова.</span>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button style="margin-right: 5px;" class="btn btn-success" type="submit" [disabled]="!form.valid">
                Сохранить
              </button>
              <button class="btn btn-danger" type="button" (click)="closeModal()">
                Отмена
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noUsers>
  <div style="width: 100%; height: 150px; padding-top: 70px;" class="text-center">
    <span>Пока ни одного пользователя не добавлено;) Для того, чтобы добавить нового пользователя нажмите кнопку
      <span style="font-weight: bold">Новый пользователь</span> в правом верхнем углу</span>
  </div>
</ng-template>
