.table thead tr th {
  vertical-align: middle;
}

.fa-edit,
.fa-trash,
.fa-key {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 4px 4px 5px;
}

.fa-edit:hover {
  border: 1px solid #64ABDE;
  color: #64ABDE;
  cursor: pointer;
}

.fa-trash:hover {
  border: 1px solid #DC3545;
  color: #DC3545;
  cursor: pointer;
}

.fa-key:hover {
  border: 1px solid #007BFF;
  color: #007BFF;
  cursor: pointer;
}

ul {
  float: right;
  li:hover {
    cursor: pointer;
  }
}

.form-control-invalid {
  border-color: red;
}

.pagination {
  margin: 0;
}

.box-footer {
  border: none;
}
