<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <!--dashboard доступно всех-->
      <li [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['']">
          <i class="fa fa-home"></i>
          <span>Главная</span>
        </a>
      </li>
      <!--фильмы возможно доступ будет у всех-->
      <li *ngIf="permissionService.movieRead" [routerLink]="['/movie']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/movie']">
          <i class="fa fa-film"></i>
          <span>Фильмы</span>
        </a>
      </li>
      <!--distributors only for RKM-->
      <li *ngIf="permissionService.distributorRead" [routerLink]="['/distributor']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/distributor']">
          <i class="fa fa-code-fork"></i>
          <span>Дистрибюторы</span>
        </a>
      </li>
      <!--theaters for RKM and distributors-->
      <li *ngIf="permissionService.theaterRead" [routerLink]="['/theater']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/theater']">
          <i class="fa fa-building"></i>
          <span>Кинотеатры</span>
        </a>
      </li>
      <li *ngIf="this.permissionService.typeOfRole == 0 || this.permissionService.typeOfRole == 1 
      || this.permissionService.typeOfRole == 2" [routerLink]="['/statistic']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/statistic']">
          <i class="fa fa-file-text"></i>
          <span>Статистика</span>
        </a>
      </li>
      <li *ngIf="permissionService.reportTheaterRead" [routerLink]="['/theater-report']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/theater-report']">
          <i class="fa fa-file-o"></i>
          <span>Отчёты</span>
        </a>
      </li>
      <li *ngIf="permissionService.reportDistRead" [routerLink]="['/distributor-report']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/distributor-report']">
          <i class="fa fa-file-o"></i>
          <span>Отчёты</span>
        </a>
      </li>
      <li *ngIf="permissionService.reportRKMRead" [routerLink]="['/rkm-report']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/rkm-report']">
          <i class="fa fa-file-o"></i>
          <span>Отчёты</span>
        </a>
      </li>
      <li
        *ngIf="permissionService.contractRKMRead || permissionService.contractDistRead || permissionService.contractTheaterRead"
        class="treeview">
        <a href="javascript:;">
          <i class="fa fa-book"></i><span>Договоры</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="permissionService.contractRKMRead" [routerLink]="['/cont-f']" routerLinkActive="active">
            <a [routerLink]="['/cont-f']">
              <i class="fa fa-circle-o"></i>
              Правообладатель и RKM
            </a>
          </li>
          <li *ngIf="permissionService.contractDistRead" [routerLink]="['/cont-s']" routerLinkActive="active">
            <a [routerLink]="['/cont-s']">
              <i class="fa fa-circle-o"></i>
              RKM и Дистрибьютор
            </a>
          </li>
          <li *ngIf="permissionService.contractTheaterRead" [routerLink]="['/cont-t']" routerLinkActive="active">
            <a [routerLink]="['/cont-t']">
              <i class="fa fa-circle-o"></i>
              Дистрибьютор и Кинотеатры
            </a>
          </li>
        </ul>
      </li>
      <li *ngIf="permissionService.userRead || permissionService.roleRead || permissionService.regionRead"
        class="treeview">
        <a href="javascript:;">
          <i class="fa fa-sliders"></i><span>Управление</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="this.permissionService.typeOfRole == 0 || this.permissionService.typeOfRole == 1 
          || this.permissionService.typeOfRole == 2" [routerLink]="['/profile-institution']" routerLinkActive="active">
            <a [routerLink]="['/profile-institution']"><i class="fa fa-circle-o"></i> Профиль учреждение</a>
          </li>
          <li *ngIf="permissionService.userRead" [routerLink]="['/user']" routerLinkActive="active">
            <a [routerLink]="['/user']"><i class="fa fa-circle-o"></i> Пользователи</a>
          </li>
          <li *ngIf="permissionService.roleRead" [routerLink]="['/role']" routerLinkActive="active">
            <a [routerLink]="['/role']"><i class="fa fa-circle-o"></i> Роли</a>
          </li>
          <li *ngIf="permissionService.regionRead" [routerLink]="['/region']" routerLinkActive="active">
            <a [routerLink]="['/region']"><i class="fa fa-circle-o"></i> Регионы</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>