
<section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4" style="padding: 0">
          <h3 style="display: inline;">
              404 Error Page
          </h3>
        </div>
        <div style="cursor: pointer" class="col-md-4 pull-right text-right">
          <a (click)="mainMenu()">
            <span class="fa fa-long-arrow-left"></span>
            Главная
          </a>
        </div>
      </div>
    </div>
  </section>
<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Ой! Страница не найдена.</h3>

      <p>
        Мы не смогли найти страницу, которую вы искали.
        Между тем, вы можете
        <a href="javascript:history.back()">вернуться назад</a>
        или попробуйте использовать форму поиска.
      </p>

      <form action="http://www.google.com/search" method="GET" class="search-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Поиск">

          <div class="input-group-btn">
            <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <!-- /.input-group -->
      </form>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
